export POSTGRES_DATABASE_NAME=DigitalBookSales3skins_db_yjr6b1kpse40
export POSTGRES_DATABASE_USER=azamat
export POSTGRES_DATABASE_USER_PASSWORD=UseVeryStrongPasswordHere
export POSTGRES_DATABASE_HOST=localhost
export POSTGRES_DATABASE_PORT=55434
export DJANGO_SECRET_KEY='django-insecure-yjr6b1kpse40(=g@c$5@l8&o_^0nzy4*9wk6)j#*ve%#cifh'

