{% extends "skin4/base.html" %}

{% load static %}

{% block titlekeywords %}
    <title>Fitzone - О нас</title>
    <meta name="keywords" content="electronics gadget">
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
{% endblock %}

{% block content %}
    <main id="banner">
      <div class="position-relative" style="background: url({% static 'skin4/images/banner1.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center; height: 60vh;">
c        <div class="container-fluid ">
          <div class="hero-content text-center position-absolute start-50 top-50 translate-middle">
            <h2 class="display-2 text-uppercase text-white mb-0 fw-medium">About us</h2>

            <nav class="breadcrumb d-flex justify-content-center mt-3 me-1 text-white">
              <a class="breadcrumb-item breadcrumb-light text-white" href="/index.html">Home</a>
              <a class="breadcrumb-item breadcrumb-light text-white" href="/about-us.html#">Pages</a>
              <a class="breadcrumb-item breadcrumb-light active text-white" aria-current="page">About</a>
            </nav>
          </div>
        </div>
      </div>
    </main>

    <section id="services" class="padding-medium pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon text-primary bg-black rounded-circle p-4 shadow mb-4">
                        <svg width="60" height="60"><use xlink:href="#gym"></use></svg>
                    </div>
                    <h5 class="display-5">Variety of Equipments</h5>
                    <p class="card-text">Explore a diverse range of clothing styles, from trendy casual wears.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon text-primary bg-black rounded-circle p-4 shadow mb-4">
                        <svg width="60" height="60"><use xlink:href="#person-rounded"></use></svg>
                    </div>
                    <h5 class="display-5">Professional Coaches</h5>
                    <p class="card-text">Explore a diverse range of clothing styles, from trendy casual wears.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon text-primary bg-black rounded-circle p-4 shadow mb-4">
                        <svg width="60" height="60"><use xlink:href="#pricetag"></use></svg>
                    </div>
                    <h5 class="display-5">Affordable Pricing</h5>
                    <p class="card-text">Explore a diverse range of clothing styles, from trendy casual wears.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container padding-medium">
      <div class="row align-items-start g-5">
        <div class="col-md-6">
          <img src="{% static 'skin4/images/banner3.jpg' %}" alt="img" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3 class="display-3 fw-medium">How we established?</h3>
            <p>In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id. Risus, aliquam odio
                posuere ac in in nisl sed augue. Porta aenean egestas malesuada in pulvinar enim viverra. Lorem ipsum dolor
                sit amet consectetur adipisicing elit.</p>

            <p class="m-0"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
                viverra.</p>
            <p class="m-0"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
                viverra.</p>
            <p class="m-0"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
                viverra.</p>
            <a href="/blog.html" class="btn btn-dark border-start border-4 border-primary mt-3">Read Blogs</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row flex-row-reverse align-items-start g-5">
        <div class="col-md-6">
          <img src="{% static 'skin4/images/banner2.jpg' %}" alt="img" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3 class="display-3 fw-medium">You can buy best products from Us.</h3>
            <p>Aliquet nunc vitae interdum mauris pretium lectus mauris viverra ornare quam diam felis. Ultrices
                eget pretium sit euismod mi id risus, aliquam odio posuere ac in in nisl sed augue.</p>
            <p>Ultrices eget pretium sit euismod mi id risus, aliquam odio posuere ac in in nisl sed augue.</p>
            <a href="/shop.html" class="btn btn-dark border-start border-4 border-primary mt-3">Shop Now</a>
        </div>
      </div>
    </div>

    <section id="contact" class="padding-medium pb-0">
        <div class="container text-center">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="display-3 fw-medium">Sign up newsletter</h3>
                <p>Subscribe to our newsletter for discounts and updates.</p>
                <form class="d-flex justify-content-between border rounded-pill w-100 mt-5">
                <input type="email" name="email" placeholder="Write your email address here..." class="w-100 px-4 border-0 bg-transparent">
                <button type="button" class="btn btn-dark rounded-end-pill">Subscribe</button>
                </form>
            </div>
            </div>
        </div>
    </section>

    <section id="blogs" class="padding-medium">
        <div class="container-fluid">
            <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="display-3 fw-medium">News Articles</h3>
                <div><a href="/about-us.html#" class="btn btn-dark border-start border-4 border-primary">Read All</a></div>
            </div>
            <div class="article">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images/article1.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">10 Essential Workout Tips to Maximize Your Gym Sessions</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images/article2.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">Strength vs. Cardio: Which Workout is Best for You?</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images/article5.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">How to Stay Motivated on Your Fitness Journey</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}
{% endblock %}
