{% extends "skin4/base.html" %}

{% load static %}

{% block titlekeywords %}
    <title>Fitzone - Проверка заказа</title>
    <meta name="keywords" content="electronics gadget">
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
{% endblock %}

{% block content %}
    <main id="banner">
      <div class="position-relative" style="background: url( {% static 'skin4/images/banner1.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center; height: 60vh;">
        <div class="container-fluid ">
          <div class="hero-content text-center position-absolute start-50 top-50 translate-middle">
            <h2 class="display-2 text-uppercase text-white mb-0 fw-medium">Checkout</h2>

            <nav class="breadcrumb d-flex justify-content-center mt-3 me-1 text-white">
              <a class="breadcrumb-item breadcrumb-light text-white" href="{% url 'core:index' %}">Home</a>
              <a class="breadcrumb-item breadcrumb-light text-white" href="{% url 'core:checkout' %}">Pages</a>
              <a class="breadcrumb-item breadcrumb-light active text-white" aria-current="page">Checkout</a>
            </nav>
          </div>
        </div>
      </div>
    </main>

    <section id="checkout" class="padding-medium pb-0">
      <div class="container-fluid px-md-5 ">
        <form class="form-group">
          <div class="row d-flex flex-wrap">
            <div class="col-lg-6">
              <h3 class="display-3 pb-3">Billing Details</h3>
              <div class="billing-details">
                <label for="fname">First Name*</label>
                <input type="text" id="fname" name="firstname" class="form-control mt-2 mb-4 ps-3">
                <label for="lname">Last Name*</label>
                <input type="text" id="lname" name="lastname" class="form-control mt-2 mb-4 ps-3">
                <label for="cname">Company Name(optional)*</label>
                <input type="text" id="cname" name="companyname" class="form-control mt-2 mb-4">
                <label for="cname">Country / Region*</label>
                <select class="form-select form-control mt-2 mb-4" aria-label="Default select example">
                  <option selected="" hidden="">United States</option>
                  <option value="1">UK</option>
                  <option value="2">Australia</option>
                  <option value="3">Canada</option>
                </select>
                <label for="address">Street Address*</label>
                <input type="text" id="adr" name="address" placeholder="House number and street name" class="form-control mt-3 ps-3 mb-3">
                <input type="text" id="adr" name="address" placeholder="Appartments, suite, etc." class="form-control ps-3 mb-4">
                <label for="city">Town / City *</label>
                <input type="text" id="city" name="city" class="form-control mt-3 ps-3 mb-4">
                <label for="state">State *</label>
                <select class="form-select form-control mt-2 mb-4" aria-label="Default select example">
                  <option selected="" hidden="">Florida</option>
                  <option value="1">New York</option>
                  <option value="2">Chicago</option>
                  <option value="3">Texas</option>
                  <option value="3">San Jose</option>
                  <option value="3">Houston</option>
                </select>
                <label for="zip">Zip Code *</label>
                <input type="text" id="zip" name="zip" class="form-control mt-2 mb-4 ps-3">
                <label for="email">Phone *</label>
                <input type="text" id="phone" name="phone" class="form-control mt-2 mb-4 ps-3">
                <label for="email">Email address *</label>
                <input type="text" id="email" name="email" class="form-control mt-2 mb-4 ps-3">
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="display-3 pb-3">Additional Information</h3>
              <div class="billing-details">
                <label for="fname">Order notes (optional)</label>
                <textarea class="form-control pt-3 pb-3 ps-3 mt-2" placeholder="Notes about your order. Like special notes for delivery."></textarea>
              </div>
              <div class="your-order mt-5">
                <h3 class="display-3 pb-3">Cart Totals</h3>
                <div class="total-price">
                  <table cellspacing="0" class="table">
                    <tbody>
                      <tr class="subtotal border-top border-bottom pt-2 pb-2 text-uppercase">
                        <th>Subtotal</th>
                        <td data-title="Subtotal">
                          <span class="price-amount amount ps-5">
                            <bdi>
                              <span class="price-currency-symbol">$</span>1,500.00 </bdi>
                          </span>
                        </td>
                      </tr>
                      <tr class="order-total border-bottom pt-2 pb-2 text-uppercase">
                        <th>Total</th>
                        <td data-title="Total">
                          <span class="price-amount amount ps-5">
                            <bdi>
                              <span class="price-currency-symbol">$</span>1,500.00 </bdi>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="list-group mt-5 mb-3">
                    <label class="list-group-item d-flex gap-2 border-0">
                      <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked="">
                      <span>
                        <strong class="text-uppercase">Direct bank transfer</strong>
                        <small class="d-block text-body-secondary">Make your payment directly into our bank account.
                          Please use your Order ID. Your order will shipped after funds have cleared in our
                          account.</small>
                      </span>
                    </label>
                    <label class="list-group-item d-flex gap-2 border-0">
                      <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios2" value="">
                      <span>
                        <strong class="text-uppercase">Check payments</strong>
                        <small class="d-block text-body-secondary">Please send a check to Store Name, Store Street, Store
                          Town, Store State / County, Store Postcode.</small>
                      </span>
                    </label>
                    <label class="list-group-item d-flex gap-2 border-0">
                      <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios3" value="">
                      <span>
                        <strong class="text-uppercase">Cash on delivery</strong>
                        <small class="d-block text-body-secondary">Pay with cash upon delivery.</small>
                      </span>
                    </label>
                    <label class="list-group-item d-flex gap-2 border-0">
                      <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios3" value="">
                      <span>
                        <strong class="text-uppercase">Paypal</strong>
                        <small class="d-block text-body-secondary">Pay via PayPal; you can pay with your credit card if
                          you don’t have a PayPal account.</small>
                      </span>
                    </label>
                  </div>
                  <a href="{% url 'core:checkout' %}" class="btn btn-dark border-start border-4 border-primary w-100">Place an order</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section id="contact" class="padding-medium pb-0">
        <div class="container text-center">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="display-3 fw-medium">Sign up newsletter</h3>
                <p>Subscribe to our newsletter for discounts and updates.</p>
                <form class="d-flex justify-content-between border rounded-pill w-100 mt-5">
                <input type="email" name="email" placeholder="Write your email address here..." class="w-100 px-4 border-0 bg-transparent">
                <button type="button" class="btn btn-dark rounded-end-pill">Subscribe</button>
                </form>
            </div>
            </div>
        </div>
    </section>

    <section id="blogs" class="padding-medium">
        <div class="container-fluid">
            <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="display-3 fw-medium">News Articles</h3>
                <div><a href="{% url 'core:checkout' %}" class="btn btn-dark border-start border-4 border-primary">Read All</a></div>
            </div>
            <div class="article">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="{% url 'core:single_post' %}"> <img src="{% static 'skin4/images/article1.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="{% url 'core:single_post' %}" class="article-names">10 Essential Workout Tips to Maximize Your Gym Sessions</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="{% url 'core:single_post' %}"> <img src="{% static 'skin4/images/article2.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="{% url 'core:single_post' %}" class="article-names">Strength vs. Cardio: Which Workout is Best for You?</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="{% url 'core:single_post' %}"> <img src="{% static 'skin4/images/article5.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="{% url 'core:single_post' %}" class="article-names">How to Stay Motivated on Your Fitness Journey</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}
{% endblock %}
