{% extends "skin4/base.html" %}

{% load static %}

{% block titlekeywords %}
    <title>Fitzone - О бодибилдинге</title>
    <meta name="keywords" content="electronics gadget">
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
{% endblock %}

{% block content %}

    <section class="padding-medium pb-0">
        <div class="container-fluid px-md-5">
            <div class="row">
                <main class="post-grid">
                    <div class="row">
                        <article class="post-item">
                            <div class="post-content">
                                <h1 class="display-1 fw-medium text-uppercase mb-5">Body Building Class Details</h1>

                                <p>
                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                                        facilisis vivamus massa
                                        magna. Blandit mauris libero condimentum commodo morbi consectetur sociis
                                        convallis sit. Magna
                                        diam amet justo sed vel dolor et volutpat integer. Iaculis sit sapien hac odio
                                        elementum egestas
                                        neque. Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi
                                        laoreet est
                                        euismod.</strong>
                                </p>
                                <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor
                                    curabitur non
                                    aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus,
                                    vel. Morbi arcu
                                    amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in
                                    vestibulum erat.
                                    Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae
                                    neque bibendum
                                    eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt
                                    tellus sit ornare.
                                    Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae eu,
                                    eu tincidunt
                                    nunc integer sit.</p>
                                <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet
                                    dolor
                                    curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet
                                    enim, lacus,
                                    vel.</blockquote>


                                <div class="post-thumbnail my-5">
                                    <img src="{% static 'skin4/images/class-detail.jpg' %}" alt="single-post" class="img-fluid">
                                </div>
                                <div class="post-description py-4">
                                    <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor
                                        curabitur non
                                        aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim,
                                        lacus, vel. Morbi arcu
                                        amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in
                                        vestibulum erat.
                                        Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae
                                        neque bibendum
                                        eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt
                                        tellus sit ornare.
                                        Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae
                                        eu, eu tincidunt
                                        nunc integer sit.</p>
                                    <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum,
                                        amet dolor
                                        curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit
                                        imperdiet enim, lacus,
                                        vel.</blockquote>

                                    <div class="row align-items-center my-5 padding-small">
                                        <div class="col-md-4 offset-md-2">
                                            <img src="{% static 'skin4/images/team-1.jpg' %}" class="img-fluid">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="py-3">
                                                <h4 class="mb-0 display-6">Kevin bryan</h4>
                                                <p>Gym Coach</p>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">Age</th>
                                                    <td>36</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">Weight</th>
                                                    <td>248lbs</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">Occupation</th>
                                                    <td>Body Builder</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">Social</th>
                                                    <td><a href="/class-detail.html#">Fb</a>,<a href="/class-detail.html#" class="ms-1">Insta</a>,<a href="/class-detail.html#" class="ms-1">Yt</a></td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <h3 class="display-3">Classes timetable</h3>
                                    <p class="mb-5">Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat.</p>
                                    <table class="table table-bordered border-primary">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Sunday</th>
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>6:00am - 8:00am</th>
                                                <td><h6 class="display-6">ENDURANCE</h6> <p>Daniel Luis</p></td>
                                                <td><h6 class="display-6">CARDIO</h6> <p>Kevin Bryan</p></td>
                                                <td class="table-active"><h6 class="display-6">BODY BUILDING</h6> <p>Kevin Bryan</p></td>
                                                <td><h6 class="display-6">YOGA</h6> <p>Ruslan Ken</p></td>
                                                <td><h6 class="display-6">Crossfit</h6> <p>Jessica Alba</p></td>
                                                <td><h6 class="display-6">Mind-Body</h6> <p>Jolly Garcia</p></td>
                                                <td><h6 class="display-6">WEIGHT LOOSE</h6> <p>Ruslan Ken</p></td>
                                            </tr>
                                            <tr>
                                                <th>9:00am - 1:00am</th>
                                                <td><h6 class="display-6">WEIGHT LOOSE</h6> <p>Ruslan Ken</p></td>
                                                <td><h6 class="display-6">Crossfit</h6> <p>Jessica Alba</p></td>
                                                <td><h6 class="display-6">CARDIO</h6> <p>Kevin Bryan</p></td>
                                                <td class="table-active"><h6 class="display-6">BODY BUILDING</h6> <p>Kevin Bryan</p></td>
                                                <td><h6 class="display-6">ENDURANCE</h6> <p>Daniel Luis</p></td>
                                                <td><h6 class="display-6">WEIGHT LOOSE</h6> <p>Ruslan Ken</p></td>
                                                <td><h6 class="display-6">YOGA</h6> <p>Ruslan Ken</p></td>
                                            </tr>
                                            <tr>
                                                <th>5.00pm - 7.00pm</th>
                                                <td><h6 class="display-6">Mind-Body</h6> <p>Jolly Garcia</p></td>
                                                <td><h6 class="display-6">Crossfit</h6> <p>Jessica Alba</p></td>
                                                <td><h6 class="display-6">WEIGHT LOOSE</h6> <p>Ruslan Ken</p></td>
                                                <td><h6 class="display-6">CARDIO</h6> <p>Kevin Bryan</p></td>
                                                <td><h6 class="display-6">WEIGHT LOOSE</h6> <p>Ruslan Ken</p></td>
                                                <td><h6 class="display-6">ENDURANCE</h6> <p>Daniel Luis</p></td>
                                                <td class="table-active"><h6 class="display-6">BODY BUILDING</h6> <p>Kevin Bryan</p></td>
                                            </tr>
                                            <tr>
                                                <th>7.00pm - 9.00pm</th>
                                                <td><h6 class="display-6">YOGA</h6> <p>Ruslan Ken</p></td>
                                                <td class="table-active"><h6 class="display-6">BODY BUILDING</h6> <p>Kevin Bryan</p></td>
                                                <td><h6 class="display-6">Mind-Body</h6> <p>Jolly Garcia</p></td>
                                                <td><h6 class="display-6">ENDURANCE</h6> <p>Daniel Luis</p></td>
                                                <td><h6 class="display-6">WEIGHT LOOSE</h6> <p>Ruslan Ken</p></td>
                                                <td><h6 class="display-6">CARDIO</h6> <p>Kevin Bryan</p></td>
                                                <td><h6 class="display-6">Crossfit</h6> <p>Jessica Alba</p></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </article>

                    </div>
                </main>
            </div>
        </div>
    </section>

    <section id="contact" class="padding-medium pb-0">
        <div class="container text-center">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="display-3 fw-medium">Sign up newsletter</h3>
                <p>Subscribe to our newsletter for discounts and updates.</p>
                <form class="d-flex justify-content-between border rounded-pill w-100 mt-5">
                <input type="email" name="email" placeholder="Write your email address here..." class="w-100 px-4 border-0 bg-transparent">
                <button type="button" class="btn btn-dark rounded-end-pill">Subscribe</button>
                </form>
            </div>
            </div>
        </div>
    </section>

    <section id="blogs" class="padding-medium">
        <div class="container-fluid">
            <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="display-3 fw-medium">Related Articles</h3>
                <div><a href="/class-detail.html#" class="btn btn-dark border-start border-4 border-primary">Read All</a></div>
            </div>
            <div class="article">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images/article1.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">10 Essential Workout Tips to Maximize Your Gym Sessions</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images/article2.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">Strength vs. Cardio: Which Workout is Best for You?</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images/article5.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">How to Stay Motivated on Your Fitness Journey</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}
{% endblock %}
