{% extends "skin4/base.html" %}

{% load static %}

{% block titlekeywords %}
    <title>Fitzone - О нас</title>
    <meta name="keywords" content="electronics gadget">
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
{% endblock %}

{% block content %}
    <main id="banner">
      <div class="position-relative" style="background: url({% static 'skin4/images/banner1.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center; height: 60vh;">
        <div class="container-fluid ">
          <div class="hero-content text-center position-absolute start-50 top-50 translate-middle">
            <h2 class="display-2 text-uppercase text-white mb-0 fw-medium">Pricing</h2>

            <nav class="breadcrumb d-flex justify-content-center mt-3 me-1 text-white">
              <a class="breadcrumb-item breadcrumb-light text-white" href="/index.html">Home</a>
              <a class="breadcrumb-item breadcrumb-light text-white" href="/pricing.html#">Pages</a>
              <a class="breadcrumb-item breadcrumb-light active text-white" aria-current="page">Pricing</a>
            </nav>
          </div>
        </div>
      </div>
    </main>

    <section id="packages" class="padding-medium pb-0">
        <div class="container">
            <div class="text-center">
                <h3 class="display-3 fw-medium">Get Membership</h3>
                <p>Suspen dise tempus oncu enim pellen teste pretium.</p>
                <div class="row g-4 align-items-center mt-5">
                <div class="col-md-4">
                    <div class="border py-5">
                    <h3 class="display-4 mb-3">Pricing 1</h3>
                    <span class="text-primary fs-2 fw-bold">$60<span class="fs-5 text-dark fw-medium ms-2">/ month</span></span>
                    <ul class="list-group mt-4">
                        <li class="list-group-item border-0">✓ Quisque rhoncus</li>
                        <li class="list-group-item border-0">✓ Lorem ipsum dolor</li>
                        <li class="list-group-item border-0">✓ Vivamus velit mir</li>
                        <li class="list-group-item border-0">✓ Velit mir</li>
                        <li class="list-group-item border-0">✓ Elit mir ivamus</li>
                    </ul>
                    <div class="button mt-5">
                        <a href="/pricing.html#" class="btn btn-dark border-start border-4 border-primary">Choose Package</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border py-5">
                    <h3 class="display-4 mb-3">Pricing 2</h3>
                    <span class="text-primary fs-3 fw-bold">$90<span class="fs-5 text-dark fw-medium ms-2">/ year</span></span>
                    <ul class="list-group mt-4">
                        <li class="list-group-item border-0">✓ Quisque rhoncus</li>
                        <li class="list-group-item border-0">✓ Lorem ipsum dolor</li>
                        <li class="list-group-item border-0">✓ Vivamus velit mir</li>
                        <li class="list-group-item border-0">✓ Elit mir ivamus</li>
                        <li class="list-group-item border-0">✓ Velit mir</li>
                        <li class="list-group-item border-0">✓ Elit mir ivamus</li>
                    </ul>
                    <div class="button mt-5">
                        <a href="/pricing.html#" class="btn btn-dark border-start border-4 border-primary">Choose Package</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border py-5">
                    <h3 class="display-4 mb-3">Pricing 3</h3>
                    <span class="text-primary fs-3 fw-bold">$120<span class="fs-5 text-dark fw-medium ms-2">/ lifetime</span></span>
                    <ul class="list-group mt-4">
                        <li class="list-group-item border-0">✓ Quisque rhoncus</li>
                        <li class="list-group-item border-0">✓ Lorem ipsum dolor</li>
                        <li class="list-group-item border-0">✓ Vivamus velit mir</li>
                        <li class="list-group-item border-0">✓ Velit mir</li>
                        <li class="list-group-item border-0">✓ It ir ivamus</li>
                    </ul>
                    <div class="button mt-5">
                        <a href="/pricing.html#" class="btn btn-dark border-start border-4 border-primary">Choose Package</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="padding-medium">
        <div class="container text-center">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="display-3 fw-medium">Sign up newsletter</h3>
                <p>Subscribe to our newsletter for discounts and updates.</p>
                <form class="d-flex justify-content-between border rounded-pill w-100 mt-5">
                <input type="email" name="email" placeholder="Write your email address here..." class="w-100 px-4 border-0 bg-transparent">
                <button type="button" class="btn btn-dark rounded-end-pill">Subscribe</button>
                </form>
            </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}
{% endblock %}
