{% extends "skin4/base.html" %}

{% load static %}

{% block titlekeywords %}
    <title>Fitzone - О продукте</title>
    <meta name="keywords" content="electronics gadget">
{% endblock %}д

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
{% endblock %}

{% block content %}
    <section id="selling-product" class="padding-medium pb-0">
      <div class="container-fluid px-md-5">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-3 d-none d-md-flex">
                <!-- product-thumbnail-slider -->
                <div class="swiper product-thumbnail-slider swiper-initialized swiper-vertical swiper-backface-hidden swiper-thumbs">
                  <div class="swiper-wrapper" id="swiper-wrapper-616828c4af3a6a39" aria-live="off" style="transform: translate3d(0px, -507.333px, 0px); transition-duration: 0ms; transition-delay: 0ms;">


                    <div class="swiper-slide mb-1" role="group" aria-label="3 / 5" data-swiper-slide-index="2" style="height: 238.667px; margin-bottom: 15px;">
                      <img src="{% static 'skin4/images//item4.jpg' %}" alt="" class="thumb-image img-fluid">
                    </div>
                    <div class="swiper-slide mb-1 swiper-slide-prev" role="group" aria-label="4 / 5" data-swiper-slide-index="3" style="height: 238.667px; margin-bottom: 15px;">
                      <img src="{% static 'skin4/images//item1.jpg' %}" alt="" class="thumb-image img-fluid">
                    </div>
                    <div class="swiper-slide mb-1 swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="5 / 5" data-swiper-slide-index="4" style="height: 238.667px; margin-bottom: 15px;">
                      <img src="{% static 'skin4/images//item5.jpg' %}" alt="" class="thumb-image img-fluid">
                    </div>
                  <div class="swiper-slide mb-1 swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" role="group" aria-label="1 / 5" data-swiper-slide-index="0" style="height: 238.667px; margin-bottom: 15px;">
                      <img src="{% static 'skin4/images//item2.jpg' %}" alt="" class="thumb-image img-fluid">
                    </div><div class="swiper-slide mb-1 swiper-slide-visible swiper-slide-fully-visible" role="group" aria-label="2 / 5" data-swiper-slide-index="1" style="height: 238.667px; margin-bottom: 15px;">
                      <img src="{% static 'skin4/images//item3.jpg' %}" alt="" class="thumb-image img-fluid">
                    </div></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                <!-- / product-thumbnail-slider -->
              </div>
              <div class="col-md-9">
                <!-- product-large-slider -->
                <div class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                  <div class="swiper-wrapper" id="swiper-wrapper-109310e5bb4a648cf2" aria-live="off" style="transition-duration: 0ms; transition-delay: 0ms;">
                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="1 / 5" data-swiper-slide-index="0" style="width: 663px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                      <img src="{% static 'skin4/images//item2.jpg' %}" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="2 / 5" data-swiper-slide-index="1" style="width: 663px; opacity: 1; transform: translate3d(-663px, 0px, 0px); transition-duration: 0ms;">
                      <img src="{% static 'skin4/images//item3.jpg' %}" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="3 / 5" data-swiper-slide-index="2" style="width: 663px; opacity: 1; transform: translate3d(-1326px, 0px, 0px); transition-duration: 0ms;">
                      <img src="{% static 'skin4/images//item4.jpg' %}" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide swiper-slide-prev" role="group" aria-label="4 / 5" data-swiper-slide-index="3" style="width: 663px; opacity: 1; transform: translate3d(-1989px, 0px, 0px); transition-duration: 0ms;">
                      <img src="{% static 'skin4/images//item1.jpg' %}" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="5 / 5" data-swiper-slide-index="4" style="width: 663px; opacity: 1; transform: translate3d(-2652px, 0px, 0px); transition-duration: 0ms;">
                      <img src="{% static 'skin4/images//item5.jpg' %}" alt="product-large" class="img-fluid">
                    </div>
                  </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                <!-- / product-large-slider -->
              </div>
            </div>

          </div>
          <div class="col-lg-6 mt-5 mt-lg-0">
            <div class="product-info">
              <div class="element-header">
                <h2 itemprop="name" class="display-2">Product Item Name</h2>
                <div class="rating-container d-flex gap-0 align-items-center">
                  <span class="rating secondary-font ">
                    <svg class="star text-yellow" width="15" height="15">
                      <use xlink:href="#star"></use>
                    </svg>
                    <svg class="star text-yellow" width="15" height="15">
                      <use xlink:href="#star"></use>
                    </svg>
                    <svg class="star text-yellow" width="15" height="15">
                      <use xlink:href="#star"></use>
                    </svg>
                    <svg class="star text-yellow" width="15" height="15">
                      <use xlink:href="#star"></use>
                    </svg>
                    <svg class="star text-yellow" width="15" height="15">
                      <use xlink:href="#star"></use>
                    </svg>
                    (5.0) </span>
                </div>
              </div>
              <div class="product-price pt-3 pb-3">
                <strong class="text-primary display-6">$170.00</strong><del class="ms-2">$240.00</del>
              </div>
              <p>Justo, feugiat imperdiet nulla molestie ac vulputate scelerisque amet. Bibendum adipiscing platea
                blandit sit sed quam semper rhoncus. Diam ultrices maecenas consequat eu tortor orci, cras lectus mauris,
                cras egestas quam venenatis neque.</p>
              <div class="cart-wrap">
                <div class="color-options pb-3">
                  <div class="color-toggle" data-option-index="0">
                    <h6 class="item-title text-uppercase text-dark">Color:</h6>

                    <input type="radio" class="btn-check" name="options-color" id="option5" autocomplete="off" checked="">
                    <label class="btn" for="option5">Green</label>

                    <input type="radio" class="btn-check" name="options-color" id="option6" autocomplete="off">
                    <label class="btn" for="option6">Orange</label>

                    <input type="radio" class="btn-check" name="options-color" id="option7" autocomplete="off" disabled="">
                    <label class="btn" for="option7">Red</label>

                    <input type="radio" class="btn-check" name="options-color" id="option8" autocomplete="off">
                    <label class="btn" for="option8">Black</label>
                  </div>
                </div>
                <div class="swatch" data-option-index="1">
                  <h6 class="item-title text-uppercase text-dark">Size:</h6>
                    <input type="radio" class="btn-check" name="options-size" id="option9" autocomplete="off" checked="">
                    <label class="btn" for="option9">XL</label>

                    <input type="radio" class="btn-check" name="options-size" id="option10" autocomplete="off">
                    <label class="btn" for="option10">L</label>

                    <input type="radio" class="btn-check" name="options-size" id="option11" autocomplete="off" disabled="">
                    <label class="btn" for="option11">M</label>

                    <input type="radio" class="btn-check" name="options-size" id="option12" autocomplete="off">
                    <label class="btn" for="option12">S</label>
                </div>
                <div class="product-quantity pt-2">
                  <div class="stock-number text-dark"><em>2 in stock</em></div>
                  <div class="stock-button-wrap">
                    <div class="d-flex flex-wrap gap-3">
                      <div class="input-group product-qty align-items-center w-25 me-3">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus border border-white rounded-1 btn-number" data-type="minus">
                            <svg width="16" height="16">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number text-center p-2 mx-1" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus border border-white rounded-1 btn-number" data-type="plus" data-field="">
                            <svg width="16" height="16">
                              <use xlink:href="#plus"></use>
                            </svg>
                          </button>
                        </span>
                      </div>
                      <a href="/single-product.html#" class="btn btn-dark border-start border-4 border-primary">Add to Cart</a>
                      <a href="/single-product.html#" class="btn btn-dark border-start border-4 border-primary">
                        <svg class="cart" width="25" height="25">
                          <use xlink:href="#wishlist"></use>
                        </svg>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="meta-product pt-4">
                <div class="meta-item d-flex align-items-baseline">
                  <h6 class="item-title fw-bold no-margin pe-2">SKU:</h6>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item">1223</li>
                  </ul>
                </div>
                <div class="meta-item d-flex align-items-baseline">
                  <h6 class="item-title fw-bold no-margin pe-2">Category:</h6>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item">
                      <a href="/single-product.html#">Category name</a>,
                    </li>
                    <li data-value="S" class="select-item">
                      <a href="/single-product.html#">Category name</a>
                    </li>
                  </ul>
                </div>
                <div class="meta-item d-flex align-items-baseline">
                  <h6 class="item-title fw-bold no-margin pe-2">Tags:</h6>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item">
                      <a href="/single-product.html#">Tag name</a>,
                    </li>
                    <li data-value="S" class="select-item">
                      <a href="/single-product.html#">Tag name</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="product-tabs">
      <div class="container-fluid px-md-5 mt-5">
        <div class="row">
          <div class="offset-md-1 col-md-10 tabs-listing">
            <nav>
              <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active fw-semibold text-uppercase px-5 py-3 mx-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
                <button class="nav-link fw-semibold text-uppercase px-5 py-3 mx-3" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="false" tabindex="-1">How To Use</button>
                <button class="nav-link fw-semibold text-uppercase px-5 py-3 mx-3" id="nav-shipping-tab" data-bs-toggle="tab" data-bs-target="#nav-shipping" type="button" role="tab" aria-controls="nav-shipping" aria-selected="false" tabindex="-1">Shipping &amp; Return</button>
                <button class="nav-link fw-semibold text-uppercase px-5 py-3 mx-3" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false" tabindex="-1">Reviews</button>
              </div>
            </nav>
            <div class="tab-content pt-5" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h5>Product Description</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                  Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec
                  nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim
                  pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula
                  vulputate sem tristique cursus.
                </p>
                <ul>
                  <li>Donec nec justo eget felis facilisis fermentum.</li>
                  <li>Suspendisse urna viverra non, semper suscipit pede.</li>
                  <li>Aliquam porttitor mauris sit amet orci.</li>
                </ul> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede.
                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim
                pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula
                vulputate sem tristique cursus. <p></p>
              </div>
              <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
                <h5>Best ways to use</h5>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                  anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.</p>
              </div>
              <div class="tab-pane fade" id="nav-shipping" role="tabpanel" aria-labelledby="nav-shipping-tab">
                <h5>Returns Policy</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros justo, accumsan non dui sit amet.
                  Phasellus semper volutpat mi sed imperdiet. Ut odio lectus, vulputate non ex non, mattis sollicitudin
                  purus. Mauris consequat justo a enim interdum, in consequat dolor accumsan. Nulla iaculis diam purus,
                  ut vehicula leo efficitur at.</p>
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In blandit nunc enim, sit amet pharetra
                  erat aliquet ac.</p>
                <h5>Shipping</h5>
                <p>Pellentesque ultrices ut sem sit amet lacinia. Sed nisi dui, ultrices ut turpis pulvinar. Sed
                  fringilla ex eget lorem consectetur, consectetur blandit lacus varius. Duis vel scelerisque elit, et
                  vestibulum metus. Integer sit amet tincidunt tortor. Ut lacinia ullamcorper massa, a fermentum arcu
                  vehicula ut. Ut efficitur faucibus dui Nullam tristique dolor eget turpis consequat varius. Quisque a
                  interdum augue. Nam ut nibh mauris.</p>
              </div>
              <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                <div class="review-box d-flex flex-wrap">
                  <div class="col-lg-6 d-flex flex-wrap gap-3">
                    <div class="col-md-2">
                      <div class="image-holder">
                        <img src="{% static 'skin4/images//reviewer-1.jpg' %}" alt="review" class="img-fluid rounded-circle">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="review-content">
                        <span class="rating secondary-font">
                          <svg class="star text-yellow" width="15" height="15">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="star text-yellow" width="15" height="15">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="star text-yellow" width="15" height="15">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="star text-yellow" width="15" height="15">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="star text-yellow" width="15" height="15">
                            <use xlink:href="#star"></use>
                          </svg>
                          (4.5)</span>
                        <div class="review-header">
                          <span class="author-name text-black fw-bold">Mark Johnson</span>
                          <span class="review-date">– 03/07/2024</span>
                        </div>
                        <p>Vitae tortor condimentum lacinia quis vel eros donec ac. Nam at lectus urna duis convallis
                          convallis</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex flex-wrap gap-3">
                    <div class="col-md-2">
                      <div class="image-holder">
                        <img src="{% static 'skin4/images//reviewer-2.jpg' %}" alt="review" class="img-fluid rounded-circle">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="review-content">
                        <div class="rating-container d-flex align-items-center">
                          <span class="rating secondary-font">
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            (3.5)</span>
                        </div>

                        <div class="review-header">
                          <span class="author-name text-black fw-bold">Jenny Willis</span>
                          <span class="review-date">– 03/06/2022</span>
                        </div>
                        <p>Vitae tortor condimentum lacinia quis vel eros donec ac. Nam at lectus urna duis convallis
                          convallis</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="add-review mt-5">
                  <h5>Add a review</h5>
                  <p>Your email address will not be published. Required fields are marked *</p>
                  <form id="form" class="form-group">

                    <div class="pb-3">
                      <div class="review-rating">
                        <span>Your rating *</span>
                        <div class="rating-container d-flex align-items-center">
                          <span class="rating secondary-font">
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>

                            <svg class="star text-yellow" width="15" height="15">
                              <use xlink:href="#star"></use>
                            </svg>
                            (5.0)</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-3">
                      <input type="file" class="form-control" data-text="Choose your file">
                    </div>
                    <div class="pb-3">
                      <label>Your Name</label>
                      <input type="text" name="name" placeholder="Write your name here*" class="form-control">
                    </div>
                    <div class="pb-3">
                      <label>Your Email</label>
                      <input type="text" name="email" placeholder="Write your email here*" class="form-control">
                    </div>
                    <div class="pb-3">
                      <label>Your Review</label>
                      <textarea class="form-control" placeholder="Write your review here*"></textarea>
                    </div>
                    <div class="pb-3">
                      <label>
                        <input type="checkbox" required="">
                        <span class="label-body">Save my name, email, and website in this browser for the next
                          time.</span>
                      </label>
                    </div>
                    <button type="submit" name="submit" class="btn btn-dark rounded-0  px-5 py-3 mt-2 ">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="new-arrivals" class="position-relative padding-medium pb-0">
      <div class="container-fluid">
          <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
              <h3 class="display-3 fw-medium">Related Products</h3>
              <div><a href="/shop.html" class="btn btn-dark border-start border-4 border-primary">SHOP ALL</a></div>
          </div>
          <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-backface-hidden">
              <div class="swiper-wrapper" id="swiper-wrapper-a5e58e54929092ab" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-475.25px, 0px, 0px); transition-delay: 0ms;">
                  <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 6" style="width: 455.25px; margin-right: 20px;">
                      <div class="product-item position-relative">
                          <img src="{% static 'skin4/images//item8.jpg' %}" alt="new1" class="img-fluid">
                          <div class="cart-concern">
                              <div class="cart-button d-flex justify-content-between align-items-center px-4">
                                  <a href="/single-product.html#" class="btn-wrap d-flex align-items-center text-capitalize fs-6">add
                                      to cart <svg class="arrow" width="20" height="20">
                                          <use xlink:href="#arrow-right"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html" class="view-btn">
                                      <svg class="expand" width="16" height="16">
                                          <use xlink:href="#expand"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html#" class="wishlist-btn">
                                      <svg class="wishlist" width="20" height="20">
                                          <use xlink:href="#wishlist"></use>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                              <h5 class="display-6"><a href="/single-product.html" class="item-name">Product One</a></h5>
                              <h5 class="money display-6 text-primary">$22.00</h5>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 6" style="width: 455.25px; margin-right: 20px;">
                      <div class="product-item position-relative">
                          <img src="{% static 'skin4/images//item4.jpg' %}" alt="new1" class="img-fluid">
                          <div class="cart-concern">
                              <div class="cart-button d-flex justify-content-between align-items-center px-4">
                                  <a href="/single-product.html#" class="btn-wrap d-flex align-items-center text-capitalize fs-6">add
                                      to cart <svg class="arrow" width="20" height="20">
                                          <use xlink:href="#arrow-right"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html" class="view-btn">
                                      <svg class="expand" width="16" height="16">
                                          <use xlink:href="#expand"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html#" class="wishlist-btn">
                                      <svg class="wishlist" width="20" height="20">
                                          <use xlink:href="#wishlist"></use>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                              <h5 class="display-6"><a href="/single-product.html" class="item-name">Product Two</a></h5>
                              <h5 class="money display-6 text-primary">$22.00</h5>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 6" style="width: 455.25px; margin-right: 20px;">
                      <div class="product-item position-relative">
                          <img src="{% static 'skin4/images//item3.jpg' %}" alt="new1" class="img-fluid">
                          <div class="cart-concern">
                              <div class="cart-button d-flex justify-content-between align-items-center px-4">
                                  <a href="/single-product.html#" class="btn-wrap d-flex align-items-center text-capitalize fs-6">add
                                      to cart <svg class="arrow" width="20" height="20">
                                          <use xlink:href="#arrow-right"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html" class="view-btn">
                                      <svg class="expand" width="16" height="16">
                                          <use xlink:href="#expand"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html#" class="wishlist-btn">
                                      <svg class="wishlist" width="20" height="20">
                                          <use xlink:href="#wishlist"></use>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                              <h5 class="display-6"><a href="/single-product.html" class="item-name">Product three</a></h5>
                              <h5 class="money display-6 text-primary">$22.00</h5>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide" role="group" aria-label="4 / 6" style="width: 455.25px; margin-right: 20px;">
                      <div class="product-item position-relative">
                          <img src="{% static 'skin4/images//item6.jpg' %}" alt="new1" class="img-fluid">
                          <div class="cart-concern">
                              <div class="cart-button d-flex justify-content-between align-items-center px-4">
                                  <a href="/single-product.html#" class="btn-wrap d-flex align-items-center text-capitalize fs-6">add
                                      to cart <svg class="arrow" width="20" height="20">
                                          <use xlink:href="#arrow-right"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html" class="view-btn">
                                      <svg class="expand" width="16" height="16">
                                          <use xlink:href="#expand"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html#" class="wishlist-btn">
                                      <svg class="wishlist" width="20" height="20">
                                          <use xlink:href="#wishlist"></use>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                              <h5 class="display-6"><a href="/single-product.html" class="item-name">Product four</a></h5>
                              <h5 class="money display-6 text-primary">$22.00</h5>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide" role="group" aria-label="5 / 6" style="width: 455.25px; margin-right: 20px;">
                      <div class="product-item position-relative">
                          <img src="{% static 'skin4/images//item5.jpg' %}" alt="new1" class="img-fluid">
                          <div class="cart-concern">
                              <div class="cart-button d-flex justify-content-between align-items-center px-4">
                                  <a href="/single-product.html#" class="btn-wrap d-flex align-items-center text-capitalize fs-6">add
                                      to cart <svg class="arrow" width="20" height="20">
                                          <use xlink:href="#arrow-right"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html" class="view-btn">
                                      <svg class="expand" width="16" height="16">
                                          <use xlink:href="#expand"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html#" class="wishlist-btn">
                                      <svg class="wishlist" width="20" height="20">
                                          <use xlink:href="#wishlist"></use>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                              <h5 class="display-6"><a href="/single-product.html" class="item-name">Product five</a></h5>
                              <h5 class="money display-6 text-primary">$22.00</h5>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 455.25px; margin-right: 20px;">
                      <div class="product-item position-relative">
                          <img src="{% static 'skin4/images//item2.jpg' %}" alt="new1" class="img-fluid">
                          <div class="cart-concern">
                              <div class="cart-button d-flex justify-content-between align-items-center px-4">
                                  <a href="/single-product.html#" class="btn-wrap d-flex align-items-center text-capitalize fs-6">add
                                      to cart <svg class="arrow" width="20" height="20">
                                          <use xlink:href="#arrow-right"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html" class="view-btn">
                                      <svg class="expand" width="16" height="16">
                                          <use xlink:href="#expand"></use>
                                      </svg>
                                  </a>
                                  <a href="/single-product.html#" class="wishlist-btn">
                                      <svg class="wishlist" width="20" height="20">
                                          <use xlink:href="#wishlist"></use>
                                      </svg>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                              <h5 class="display-6"><a href="/single-product.html" class="item-name">Product six</a></h5>
                              <h5 class="money display-6 text-primary">$22.00</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-pagination new-arrival-pagination position-relative d-block d-lg-none mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </div>
    </section>

    <section id="contact" class="padding-medium pb-0">
        <div class="container text-center">
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="display-3 fw-medium">Sign up newsletter</h3>
                <p>Subscribe to our newsletter for discounts and updates.</p>
                <form class="d-flex justify-content-between border rounded-pill w-100 mt-5">
                <input type="email" name="email" placeholder="Write your email address here..." class="w-100 px-4 border-0 bg-transparent">
                <button type="button" class="btn btn-dark rounded-end-pill">Subscribe</button>
                </form>
            </div>
            </div>
        </div>
    </section>

    <section id="blogs" class="padding-medium">
        <div class="container-fluid">
            <div class="d-block d-md-flex justify-content-between align-items-center mb-4">
                <h3 class="display-3 fw-medium">News Articles</h3>
                <div><a href="/single-product.html#" class="btn btn-dark border-start border-4 border-primary">Read All</a></div>
            </div>
            <div class="article">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images//article1.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">10 Essential Workout Tips to Maximize Your Gym Sessions</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images//article2.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">Strength vs. Cardio: Which Workout is Best for You?</a></h5>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="/single-post.html"> <img src="{% static 'skin4/images//article5.jpg' %}" class="img-fluid" alt="blog-img">
                        </a>
                        <h5 class="fs-3 mt-2"><a href="/single-post.html" class="article-names">How to Stay Motivated on Your Fitness Journey</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}
{% endblock %}
