{% extends "skin1/base.html" %}

{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="купить книги онлайн, интернет-магазин книг, digital book sales, каталог книг, книжный маркетплейс, заказать книги с доставкой.">
    <title>Новости из мира книг</title>
{% endblock %}

{% block customstyle %}
{% endblock %}


{% block content %}

    <section class="hero-section bg-gray d-flex align-items-center justify-content-center padding-medium pb-5">
      <div class="hero-content">
        <div class="container">
          <div class="row">
            <div class="text-center padding-medium no-padding-bottom">
              <h1>Blog</h1>
              <div class="breadcrumbs">
                <span class="item">
                  <a href="{% url 'core:index' %}">Home &gt;</a>
                </span>
                <span class="item">Blog</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="post-grid padding-large">
      <div class="container">
        <div class="row d-flex flex-wrap">
          <aside class="col-md-3">
            <div class="sidebar mb-5">
              <div class="widget-menu">
                <div class="widget-search-bar">
                  <form role="search" method="get" class="position-relative d-flex justify-content-between align-items-center border-bottom border-dark py-1">
                    <input class="search-field" placeholder="Search" type="search">
                    <div class="search-icon position-absolute end-0">
                      <a href="{% url 'core:blog' %}#">
                        <svg width="26" height="26" class="search">
                          <use xlink:href="#search"></use>
                        </svg>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="widget-product-categories pt-5">
                <h5 class="widget-title text-uppercase">Categories</h5>
                <ul class="product-categories sidebar-list list-unstyled">
                  <li class="cat-item">
                    <a href="{% url 'core:blog' %}#">All</a>
                  </li>
                  <li class="cat-item">
                    <a href="{% url 'core:blog' %}#">Tips</a>
                  </li>
                  <li class="cat-item">
                    <a href="{% url 'core:blog' %}#">Bookstore</a>
                  </li>
                  <li class="cat-item">
                    <a href="{% url 'core:blog' %}#">Authors</a>
                  </li>
                  <li class="cat-item">
                    <a href="{% url 'core:blog' %}#">Spiritual</a>
                  </li>
                </ul>
              </div>
              <div class="widget-product-tags pt-3">
                <h5 class="widget-title text-uppercase">Tags</h5>
                <ul class="product-tags sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Best Store</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Cheap Book</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Underrated</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Latest</a>
                  </li>
                </ul>
              </div>
              <div class="widget sidebar-recent-post pt-3">
                <h5 class="widget-title text-uppercase">Latest Posts</h5>
                <div class="sidebar-post-item">
                  <div class="d-flex flex-wrap align-items-top mb-3">
                    <div class="col-lg-4">
                      <div class="card-image pe-3 pb-2">
                        <a href="{% url 'core:single_post' %}">
                          <img src="{% static 'skin1/images/post-small-image1.jpg' %}" alt="blog" class="img-fluid">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card-content">
                        <h4 class="card-title">
                          <a href="{% url 'core:single_post' %}">The Power of Bookstores in a Digital Age</a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sidebar-post-item">
                  <div class="d-flex flex-wrap align-items-top mb-3">
                    <div class="col-lg-4">
                      <div class="card-image pe-3 pb-2">
                        <a href="{% url 'core:single_post' %}">
                          <img src="{% static 'skin1/images/post-small-image2.jpg' %}" alt="blog" class="img-fluid">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card-content">
                        <h4 class="card-title">
                          <a href="{% url 'core:single_post' %}">How Our Bookstore Brings Literature to Life</a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sidebar-post-item">
                  <div class="d-flex flex-wrap align-items-top mb-3">
                    <div class="col-lg-4">
                      <div class="card-image pe-3 pb-2">
                        <a href="{% url 'core:single_post' %}">
                          <img src="{% static 'skin1/images/post-small-image3.jpg' %}" alt="blog" class="img-fluid">
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card-content">
                        <h4 class="card-title">
                          <a href="{% url 'core:single_post' %}">The Treasures within Our Bookstore's Walls</a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="widget sidebar-social-links pt-3">
                <h5 class="widget-title text-uppercase">Social Links</h5>
                <ul class="sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Facebook</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Instagram</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Twitter</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Pinterest</a>
                  </li>
                  <li class="tags-item">
                    <a href="{% url 'core:blog' %}#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <main class="col-md-9">
            <div class="row">
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item1.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Feb 22, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">Why Our Bookstore Should Be Your Literary Oasis</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item3.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Feb 22, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">Uncover Hidden Gems at Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item2.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Feb 25, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">How Our Store Nurtures the Love for Reading</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item4.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Feb 27, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">The Pleasures of Visiting Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item5.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">How Our Bookstore Inspires Readers</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item6.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">The Unforgettable Finds at Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item7.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">The Unique Experience of Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item8.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">The Pleasures of Visiting Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item9.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">The Journey of Books at Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item10.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">Unveiling the Charms of Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item11.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">Celebrating the Written Word at Our Bookstore</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="card border-0 rounded-0">
                  <div class="card-image">
                    <img src="{% static 'skin1/images/post-item12.jpg' %}" alt="blog-img" class="img-fluid">
                  </div>
                </div>
                <div class="card-body text-capitalize">
                  <div class="card-meta fs-6">
                    <span class="meta-date">Mar 09, 2023</span>
                    <span class="meta-category">/ <a href="{% url 'core:blog' %}">Tips</a></span>
                  </div>
                  <h4 class="card-title">
                    <a href="{% url 'core:single_post' %}">Why Our Bookstore is Every Book Lover's Dream</a>
                  </h4>
                </div>
              </div>
            </div>
            <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
              <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                <a href="{% url 'core:blog' %}#" class="d-flex pe-2">
                  <svg width="24" height="24"><use xlink:href="#angle-left"></use></svg>
                </a>
                <span aria-current="page" class="page-numbers current pe-3">1</span>
                <a class="page-numbers pe-3" href="{% url 'core:blog' %}#">2</a>
                <a class="page-numbers pe-3" href="{% url 'core:blog' %}#">3</a>
                <a class="page-numbers pe-3" href="{% url 'core:blog' %}#">4</a>
                <a class="page-numbers" href="{% url 'core:blog' %}#">5</a>
                <a href="{% url 'core:blog' %}#" class="d-flex ps-2">
                  <svg width="24" height="24"><use xlink:href="#angle-right"></use></svg>
                </a>
              </div>
            </nav>
          </main>
        </div>
      </div>
    </section>
    <section id="newsletter" class="bg-gray padding-medium">
      <div class="container">
        <div class="newsletter">
          <div class="row">
            <div class="col-lg-6 col-md-12 title">
              <h3>Subscribe to Our Newsletter</h3>
              <p>Get latest news, updates and deals directly mailed to your inbox.</p>
            </div>
            <form class="col-lg-6 col-md-12 d-flex align-items-center">
              <div class="d-flex w-75 border-bottom border-dark py-2">
                <input id="newsletter1" type="text" class="form-control border-0 p-0" placeholder="Your email address here">
                <button class="btn border-0 p-0" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


{% endblock %}


{% block scripts %}
{% endblock %}
