<div class="item d-flex">
  <img src="/{{entry.cover_url}}" class="img-fluid shadow-sm" alt="product item">
  <div class="item-content ms-3">
    <h6 class="mb-0 fw-bold"><a href="{% url 'core:single_product' entry.slug %}">{{entry.title}}</a></h6>
    <div class="review-content d-flex">
      <p class="my-2 me-2 fs-6 text-black-50">
        {% for item in entry.bookcontributor_set.all %}
                {{item.contributor.full_name}}
        {% endfor %}
      </p>
      <div class="rating text-warning d-flex align-items-center">
        {% for i in "12345" %}
           {% if entry.rating.rated_avg >= forloop.counter %}
              {# Заполненная звезда #}
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
           {% else %}
              {# незаполненная звезда #}
              <svg class="star star-empty">
                <use xlink:href="#star-empty"></use>
              </svg>
           {% endif %}
        {% endfor %}
      </div>
    </div>
    <span class="price text-primary fw-bold mb-2 fs-5">{{entry.prices}} руб.</span>
  </div>
</div>
