<div class="col-lg-3 col-md-4 mb-4">
    <div class="card position-relative p-4 border rounded-3">
      <img src="/{{entry.cover_url}}" class="img-fluid shadow-sm" alt="{{entry.title}}">
      <h6 class="mt-4 mb-0 fw-bold">
          <a href="{% url 'core:single_product' entry.slug %}">
              entry.title
          </a></h6>
      <div class="review-content d-flex">
        <p class="my-2 me-2 fs-6 text-black-50">
            {% for item in entry.bookcontributor_set.all %}
                 {{item.contributor.full_name}}
            {% endfor %}
        </p>

        <div class="rating text-warning d-flex align-items-center">
            {% for i in "12345" %}
               {% if entry.rating.rated_avg >= forloop.counter %}
                  {# Заполненная звезда #}
                  <svg class="star star-fill">
                    <use xlink:href="#star-fill"></use>
                  </svg>
               {% else %}
                  {# незаполненная звезда #}
                  <svg class="star star-empty">
                    <use xlink:href="#star-empty"></use>
                  </svg>
               {% endif %}
            {% endfor %}
        </div>
      </div>

      <span class="price text-primary fw-bold mb-2 fs-5"> {{entry.prices}} руб.</span>
      <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
        <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
          <svg class="cart">
            <use xlink:href="#cart"></use>
          </svg>
        </button>
        <a href="#" class="btn btn-dark">
          <span>
            <svg class="wishlist">
              <use xlink:href="#heart"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
</div>