{% extends "skin5/base.html" %}
{% load static %}

{% block titlekeywords %}
  <meta name="keywords" content="">
  <title>Digital Book Sales</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %} homepage  {% endblock %}

{% block content %}


  <section class="hero-section jarallax mt-5 pt-5">

    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="d-flex flex-wrap flex-column justify-content-center align-items-center my-5 text-white">
            <h1 class="page-title text-uppercase">Blog grid with sidebar</h1>
            <nav class="breadcrumb text-white">
              <a class="breadcrumb-item" href="#">Home</a>
              <a class="breadcrumb-item" href="#">Pages</a>
              <span class="breadcrumb-item active" aria-current="page">Shop</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0"><img src="{% static 'skin5/images/banner-large-image.jpg' %}" class="jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1280px; height: 653.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 116.75px; transform: translate3d(0px, -92.75px, 0px);"></div></section>

  <div class="post-wrap py-5 my-5">
    <div class="container">
      <div class="row g-5">
        <main class="col-md-9">
          <div class="row">

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image1.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">12 jan, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">How to look outstanding in pastel</a>
                  </h5>
                  <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image2.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">18 jan, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">Top 10 fashion trend for summer</a>
                  </h5>
                  <p>vel pretium suspendisse ultrices tempus vestibulum, nisl platea adipiscing ac ullamcorper...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image3.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">10 Feb, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">Crazy fashion with unique moment</a>
                  </h5>
                  <p>Consequat suspendisse ultrices tempus vestibulum, nisl platea adipiscing ac ullamcorper...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image4.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">05 March, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">Soft cotton onepiece dress for women</a>
                  </h5>
                  <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image5.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">28 March, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">Best accessories for 2022</a>
                  </h5>
                  <p>vel pretium suspendisse ultrices tempus vestibulum, nisl platea adipiscing ac ullamcorper...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image6.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">04 April, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">Top 20 trending photography poses</a>
                  </h5>
                  <p>Consequat suspendisse ultrices tempus vestibulum, nisl platea adipiscing ac ullamcorper...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image7.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">07 April, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">Top 10 minimal outlooks for womens</a>
                  </h5>
                  <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image8.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">10 April, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">fashion clothing for summer</a>
                  </h5>
                  <p>vel pretium suspendisse ultrices tempus vestibulum, nisl platea adipiscing ac ullamcorper...</p>
                </div>
              </article>
            </div>

            <div class="col-md-4">
              <article class="post-item">
                <div class="post-image">
                  <a href="{% url 'core:single_post' %}"><img src="{% static 'skin5/images/post-image9.jpg' %}" alt="fashion" class="img-fluid"></a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                  <div class="post-meta text-uppercase fs-6 text-secondary">
                    <span class="post-category">Fashion</span> / <span class="meta-date">10 April, 2022</span>
                  </div>
                  <h5 class="post-title text-uppercase">
                    <a href="{% url 'core:single_post' %}">best accessories for 2022</a>
                  </h5>
                  <p>vel pretium suspendisse ultrices tempus vestibulum, nisl platea adipiscing ac ullamcorper...</p>
                </div>
              </article>
            </div>

          </div>

          <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <i class="icon icon-arrow-left"></i>
                </a>
              </li>
              <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <i class="icon icon-arrow-right"></i>
                </a>
              </li>
            </ul>
          </nav>

        </main>

        <aside class="col-md-3">
          <div class="post-sidebar">
            <form role="search" method="get" action="" class="mb-5">
              <div class="wp-block-search d-flex border p-2">
                <input type="search" class="form-control border-0 focus-ring-light" name="s" placeholder="Search" required="">
                <button type="submit" class="border-0 bg-transparent"><i class="icon icon-search"></i></button>
              </div>
            </form>
            <div class="widget sidebar-categories border-animation-left mb-5">
              <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Categories</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="item-anchor">All</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Women</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Accessories</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Fashion</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Dressup</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Makeup</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Photography</a>
                </li>
              </ul>
            </div>
            <div class="widget block-tag mb-5">
              <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Tags</h5>
              <ul class="list-unstyled d-flex flex-wrap gap-2">
                <li>
                  <a href="#" class="btn btn-outline-secondary">Beauty</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Fashion</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Travel</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Denim</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Trending</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Clothing</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Photography</a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-secondary">Jackets</a>
                </li>
              </ul>
            </div>
            <div class="widget sidebar-recent-post mb-5">
              <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Recent Posts</h5>
              <div class="sidebar-post-item d-flex justify-content-center">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-holder">
                      <a href="#">
                        <img src="{% static 'skin5/images/post-small-image1.jpg' %}" alt="blog" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="sidebar-post-content text-uppercase">
                      <div class="post-meta fs-6 text-secondary">
                        <span class="meta-date">jul 11, 2022</span>
                      </div>
                      <h6 class="post-title">
                        <a href="#">How to look outstanding in pastel</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-post-item d-flex justify-content-center">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-holder">
                      <a href="#">
                        <img src="{% static 'skin5/images/post-small-image2.jpg' %}" alt="blog" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="sidebar-post-content text-uppercase">
                      <div class="post-meta fs-6 text-secondary">
                        <span class="meta-date">jul 18, 2022</span>
                      </div>
                      <h6 class="post-title">
                        <a href="#">Top 10 minimal outlooks for womens</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-post-item d-flex justify-content-center">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-holder">
                      <a href="#">
                        <img src="{% static 'skin5/images/post-small-image3.jpg' %}" alt="blog" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="sidebar-post-content text-uppercase">
                      <div class="post-meta fs-6 text-secondary">
                        <span class="meta-date">Aug 21, 2022</span>
                      </div>
                      <h6 class="post-title">
                        <a href="#">Soft cotton onepiece dress for women</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget sidebar-social-links border-animation-left">
              <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Follow us:</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="item-anchor">Facebook</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Twitter</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Pinterest</a>
                </li>
                <li>
                  <a href="#" class="item-anchor">Youtube</a>
                </li>
              </ul>
            </div>
          </div>
        </aside>


      </div>
    </div>
  </div>

  <section class="newsletter jarallax">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase text-white">Sign Up for Our Newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg bg-white rounded-0">
            <button class="btn btn-primary btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-1"><img src="{% static 'skin5/images/bg-newsletter.jpg' %}" alt="newsletter" class="jarallax-img img-fluid" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1280px; height: 653.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 116.75px; transform: translate3d(0px, 823.067px, 0px);"></div></section>

  <section class="instagram py-5">
    <div class="container">
      <div class="row g-3">
        <h6 class="element-title text-center">Follow us on Instagram</h6>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item1.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item2.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item3.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item4.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item5.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item6.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}


{% block scripts %}
{% endblock %}


