{% extends "skin5/base.html" %}
{% load static %}

{% block titlekeywords %}
  <meta name="keywords" content="">
  <title>Digital Book Sales</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %} homepage  {% endblock %}

{% block content %}

  <section class="py-5 mt-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="page-title pb-2">Cart</h1>
        <nav class="breadcrumb fs-6">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Cart</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="cart-table">
            <div class="cart-header">
              <div class="row d-flex">
                <h6 class="cart-title text-uppercase text-muted col-lg-4 pb-3">Product</h6>
                <h6 class="cart-title text-uppercase text-muted col-lg-3 pb-3">Quantity</h6>
                <h6 class="cart-title text-uppercase text-muted col-lg-4 pb-3">Subtotal</h6>
              </div>
            </div>
            <div class="cart-item border-top border-bottom">
              <div class="row align-items-center">
                <div class="col-lg-4 col-md-3">
                  <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                    <div class="col-lg-5">
                      <div class="card-image">
                        <img src="{% static 'skin5/images/product-thumb-11.jpg' %}" alt="cloth" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="card-detail ps-3">
                        <h5 class="card-title">
                          <a href="#" class="text-decoration-none">Iphone 13</a>
                        </h5>
                        <div class="card-price">
                          <span class="money text-dark" data-currency-usd="$1200.00">$1500.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-7">
                  <div class="row d-flex">
                    <div class="col-md-4">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-light btn-number" data-type="minus" data-field="">
                              <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus" data-field="">
                                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                            </button>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="total-price">
                        <span class="money text-dark">$1500.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-2">
                  <div class="cart-remove">
                    <a href="#">
                      <svg width="32px">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item border-top border-bottom">
              <div class="row align-items-center">
                <div class="col-lg-4 col-md-3">
                  <div class="cart-info d-flex flex-wrap align-items-center">
                    <div class="col-lg-5">
                      <div class="card-image">
                        <img src="{% static 'skin5/images/product-thumb-12.jpg' %}" alt="product" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="card-detail ps-3">
                        <h5 class="card-title">
                          <a href="#" class="text-decoration-none">Pink watch</a>
                        </h5>
                        <div class="card-price">
                          <span class="money text-dark" data-currency-usd="$1200.00">$870.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-7">
                  <div class="row d-flex">
                    <div class="col-lg-4">
                      <div class="input-group product-qty">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-light btn-number" data-type="minus" data-field="">
                              <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus" data-field="">
                                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                            </button>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-8 text-center">
                      <div class="total-price">
                        <span class="money text-dark">$870.00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-2">
                  <div class="cart-remove">
                    <a href="#">
                      <svg width="32px">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cart-totals bg-grey py-5">
            <h4 class="text-dark pb-4">Cart Total</h4>
            <div class="total-price pb-5">
              <table cellspacing="0" class="table text-uppercase">
                <tbody>
                  <tr class="subtotal pt-2 pb-2 border-top border-bottom">
                    <th>Subtotal</th>
                    <td data-title="Subtotal">
                      <span class="price-amount amount text-dark ps-5">
                        <bdi>
                          <span class="price-currency-symbol">$</span>2,370.00
                        </bdi>
                      </span>
                    </td>
                  </tr>
                  <tr class="order-total pt-2 pb-2 border-bottom">
                    <th>Total</th>
                    <td data-title="Total">
                      <span class="price-amount amount text-dark ps-5">
                        <bdi>
                          <span class="price-currency-symbol">$</span>2,370.00</bdi>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="button-wrap row g-2">
              <div class="col-md-6"><button class="btn btn-dark text-uppercase btn-rounded-none w-100">Update Cart</button></div>
              <div class="col-md-6"><button class="btn btn-dark text-uppercase btn-rounded-none w-100">Continue Shopping</button></div>
              <div class="col-md-12"><button class="btn btn-primary text-uppercase btn-rounded-none w-100">Proceed to checkout</button></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="newsletter jarallax">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase text-white">Sign Up for Our Newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg bg-white rounded-0">
            <button class="btn btn-primary btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0"><img src="{% static 'skin5/images/bg-newsletter.jpg' %}" alt="newsletter" class="jarallax-img img-fluid" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1280px; height: 653.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 116.75px; transform: translate3d(0px, 286.25px, 0px);">
  </div>
  </section>

  <section class="instagram py-5">
    <div class="container">
      <div class="row g-3">
        <h6 class="element-title text-center">Follow us on Instagram</h6>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item1.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item2.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item3.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item4.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item5.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item6.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}


{% block scripts %}
{% endblock %}


