{% extends "skin5/base.html" %}
{% load static %}

{% block titlekeywords %}
  <meta name="keywords" content="">
  <title>Digital Book Sales</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %} homepage  {% endblock %}

{% block content %}

  <section class="py-5 mt-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="page-title pb-2">Checkout</h1>
        <nav class="breadcrumb fs-6">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Checkout</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="contact-us-wrap py-5">
    <div class="container">
      <div class="row">
        <div class="contact-info col-md-6">
          <h2 class="fs-3 text-uppercase">Contact information</h2>
          <p>Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
          <div class="page-content">
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Head Office</h5>
                <div class="contact-address">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+123 987 321</a>
                    <a href="#">+123 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">Elegant@templatesjungle.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Branch Office</h5>
                <div class="contact-address">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+123 987 321</a>
                    <a href="#">+123 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">contact@yourcompany.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Social info</h5>
                <div class="social-links">
                  <ul class="list-unstyled d-flex flex-wrap gap-3">
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inquiry-item col-md-6">
          <h2 class="fs-3 text-uppercase">Got any questions?</h2>
          <p>Use the form below to get in touch with us.</p>
          <form id="form" class="form-group flex-wrap">
            <div class="form-input col-lg-12 d-flex mb-3">
              <input type="text" name="email" placeholder="Write Your Name Here" class="form-control ps-3 me-3">
              <input type="text" name="email" placeholder="Write Your Email Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="email" placeholder="Phone Number" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="email" placeholder="Write Your Subject Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <textarea placeholder="Write Your Message Here" class="form-control ps-3" rows="8"></textarea>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-lg text-uppercase btn-rounded-none">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-list py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">USA</h5>
            <div class="contact-address">
              <p>730 Glenstone Ave 65802, Springfield, US</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">Elegant@templatesjungle.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">France</h5>
            <div class="contact-address">
              <p>13 Rue Montmartre 75001, Paris, France</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">Elegant@templatesjungle.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">Office</h5>
            <div class="contact-address">
              <p>18 Chapel Brow PR25 3NE, Leyland, UK</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">Elegant@templatesjungle.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="newsletter jarallax">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase text-white">Sign Up for Our Newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg bg-white rounded-0">
            <button class="btn btn-primary btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0"><img src="{% static 'skin5/images/bg-newsletter.jpg' %}" alt="newsletter" class="jarallax-img img-fluid" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1280px; height: 653.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 116.75px; transform: translate3d(0px, 483.458px, 0px);"></div></section>

  <section class="instagram py-5">
    <div class="container">
      <div class="row g-3">
        <h6 class="element-title text-center">Follow us on Instagram</h6>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item1.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item2.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item3.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item4.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item5.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item6.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}


{% block scripts %}
{% endblock %}



