{% extends "skin5/base.html" %}
{% load static %}

{% block titlekeywords %}
  <meta name="keywords" content="">
  <title>Online Shop on Digital Book Sales</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %} homepage  {% endblock %}

{% block content %}
  <section class="pt-5 mt-5 border-bottom">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-uppercase fs-3">Shop Six Columns Wide</h1>
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="#">Home</a>
          <a class="breadcrumb-item" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Shop</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container-fluid">
      <div class="row justify-content-between py-2">
        <div class="col-md-5">
          <span>Showing 1–12 of 55 results</span>
        </div>
        <div class="col-md-2">
          <select class="form-select border-0" aria-label="Default select example">
            <option selected="selected">Default Sorting</option>
            <option value="1">Color</option>
            <option value="2">Size</option>
            <option value="3">Price</option>
          </select>
        </div>
      </div>
      <div class="row">
        <!-- Watch 1 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-16.jpg' %}" alt="Rolex Submariner" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">ROLEX SUBMARINER</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$9,500.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 2 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-17.jpg' %}" alt="Omega Speedmaster" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">OMEGA SPEEDMASTER</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$6,200.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 3 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-18.jpg' %}" alt="Tag Heuer Carrera" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">TAG HEUER CARRERA</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$4,800.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 4 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-19.jpg' %}" alt="Breitling Navitimer" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">BREITLING NAVITIMER</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$8,750.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 5 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-20.jpg' %}" alt="Patek Philippe Nautilus" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">PATEK NAUTILUS</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$34,500.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 6 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-21.jpg' %}" alt="Audemars Piguet Royal Oak" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">AUDEMARS ROYAL OAK</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$28,900.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 7 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-22.jpg' %}" alt="Cartier Tank" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">CARTIER TANK</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$6,800.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 8 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-23.jpg' %}" alt="IWC Portugieser" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">IWC PORTUGIESER</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$12,300.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 9 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-24.jpg' %}" alt="Hublot Big Bang" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">HUBLOT BIG BANG</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$15,200.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 10 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-25.jpg' %}" alt="Jaeger-LeCoultre Reverso" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">JAEGER REVERSO</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$7,950.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 11 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-26.jpg' %}" alt="Panerai Luminor" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">PANERAI LUMINOR</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$8,400.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 12 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-27.jpg' %}" alt="Tudor Black Bay" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">TUDOR BLACK BAY</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$3,950.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 13 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-28.jpg' %}" alt="Vacheron Constantin Overseas" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">VACHERON OVERSEAS</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$22,500.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 14 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-29.jpg' %}" alt="Grand Seiko Snowflake" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">GRAND SEIKO SNOWFLAKE</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$5,800.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 15 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-30.jpg' %}" alt="Breguet Classique" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">BREGUET CLASSIQUE</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$18,750.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 16 -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}">
                <img src="{% static 'skin5/images/product-thumb-1.jpg' %}" alt="Richard Mille RM 011" class="product-image img-fluid">
              </a>
              <a href="{% url 'core:wishlist' %}" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
              <div class="product-content">
                <h5 class="element-title text-uppercase fs-5 mt-3">
                  <a href="{% url 'core:single_product' %}">RICHARD MILLE RM 011</a>
                </h5>
                <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$85,000.00</span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Watch 1 - Zenith Chronomaster -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}"><img src="{% static 'skin5/images/product-thumb-31.jpg' %}" alt="Zenith Chronomaster Sport" class="product-image img-fluid"></a>
              <a href="#" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
              </a>
              <div class="product-content">
                <h5 class="fs-5 mt-3 text-uppercase">
                  <a href="{% url 'core:single_product' %}">ZENITH CHRONOMASTER</a>
                </h5>
                <a href="{% url 'core:single_product' %}" class="text-decoration-none" data-after="Add to cart"><span>$11,500.00</span></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Watch 3 - Blancpain Fifty Fathoms -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="product-item image-zoom-effect link-effect mb-5">
            <div class="image-holder">
              <a href="{% url 'core:single_product' %}">
                <img src="{% static 'skin5/images/product-thumb-15.jpg' %}" alt="Blancpain Fifty Fathoms" class="product-image img-fluid">
              </a>
              <a href="{% url 'core:wishlist' %}" class="btn-icon btn-wishlist">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
              <div class="product-content">
                <h5 class="text-uppercase fs-5 mt-3">
                  <a href="{% url 'core:single_product' %}">BLANCPAIN FIFTY FATHOMS</a>
                </h5>
                <a href="{% url 'core:cart' %}" class="text-decoration-none" data-after="Add to cart"><span>$14,200.00</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <i class="icon icon-arrow-left"></i>
            </a>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <i class="icon icon-arrow-right"></i>
            </a>
          </li>
        </ul>
      </nav>
  </div></section>

  <section class="newsletter jarallax">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase text-white">Sign Up for Our Newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg bg-white rounded-0">
            <button class="btn btn-primary btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0"><img src="{% static 'skin5/images/bg-newsletter.jpg' %}" alt="newsletter" class="jarallax-img img-fluid" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1280px; height: 653.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 116.75px; transform: translate3d(0px, 613.258px, 0px);"></div></section>

{% endblock %}


{% block scripts %}
{% endblock %}


