{% extends "skin5/base.html" %}
{% load static %}

{% block titlekeywords %}
  <meta name="keywords" content="">
  <title>Digital Book Sales</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %} homepage  {% endblock %}

{% block content %}

  <section class="hero-section bg-light py-5 mt-5">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <div class="breadcrumbs">
              <span class="item">
                <a href="{% url 'core:index' %}">Home /</a>
              </span>
              <span class="item">Wishlist</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Wishlist" class="py-5 my-5">
    <div class="container">
      <div class="row text-dark my-3">
        <div class="col-5 text-uppercase">Product</div>
        <div class="col-2 text-uppercase">Unit Price</div>
        <div class="col-2 text-uppercase">Stock Status</div>
      </div>
      <div class="product-wrapper">
        <!-- Watch 1 - Rolex Datejust -->
        <div class="product-item row align-items-center mb-4">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset="{% static 'skin5/images/wishlist-item1.jpg' %} 1x" alt="Rolex Datejust 41" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title text-uppercase fs-5">
              <a href="#">ROLEX DATEJUST 41</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$8,950.00</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <!-- Watch 2 - Omega Seamaster -->
        <div class="product-item row align-items-center mb-4">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset="{% static 'skin5/images/wishlist-item2.jpg' %} 1x" alt="Omega Seamaster Diver 300M" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title text-uppercase fs-5">
              <a href="#">OMEGA SEAMASTER 300M</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$5,300.00</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <!-- Watch 3 - Tag Heuer Carrera -->
        <div class="product-item row align-items-center mb-4">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset="{% static 'skin5/images/wishlist-item3.jpg' %} 1x" alt="Tag Heuer Carrera Chronograph" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title text-uppercase fs-5">
              <a href="#">TAG HEUER CARRERA</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$4,800.00</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="newsletter jarallax">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase text-white">Sign Up for Our Newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg bg-white rounded-0">
            <button class="btn btn-primary btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);" id="jarallax-container-0"><img src="{% static 'skin5/images/bg-newsletter.jpg' %}" alt="newsletter" class="jarallax-img img-fluid" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1280px; height: 653.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 116.75px; transform: translate3d(0px, 352.25px, 0px);"></div></section>

  <section class="instagram py-5">
    <div class="container">
      <div class="row g-3">
        <h6 class="element-title text-center">Follow us on Instagram</h6>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item1.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item2.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item3.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item4.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item5.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <div class="insta-item">
            <a href="https://www.instagram.com/thebookstorepk/" target="_blank">
              <img src="{% static 'skin5/images/insta-item6.jpg' %}" alt="instagram" class="insta-image img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}


{% block scripts %}
{% endblock %}


