{% load static %}
{% load i18n %}
<!DOCTYPE html>
<htmlbootstrap.bundle.min.js lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Valeev Azamat">
    <meta name="description" content="Digital Book Sales: библиотека, экспертный блог и онлайн-магазин книг в одном месте. Удобный поиск, честные обзоры и быстрая покупка литературы в пару кликов.">
{% block titlekeywords %}
    <meta name="keywords" content="">
    <title>{% trans "Digital Book Sales" %}</title>
{% endblock %}
	<link rel="icon" type="image/x-icon" href="{% static 'common/images/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'skin2/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'skin2/css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'skin2/css/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'skin2/css/vendor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'skin2/css/style.css' %}">
{% block customstyle %}
{% endblock %}

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0" data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0" style="">

	<div id="header-wrap">

		<div class="top-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul>
								<li>
									<a href="{% url 'core:index' %}#"><i class="icon icon-facebook"></i></a>
								</li>
								<li>
									<a href="{% url 'core:index' %}#"><i class="icon icon-twitter"></i></a>
								</li>
								<li>
									<a href="{% url 'core:index' %}#"><i class="icon icon-youtube-play"></i></a>
								</li>
								<li>
									<a href="{% url 'core:index' %}#"><i class="icon icon-behance-square"></i></a>
								</li>
							</ul>
						</div><!--social-links-->
					</div>
					<div class="col-md-6">
						<div class="right-element">
							<a href="{% url 'core:index' %}#" class="user-account for-buy"><i class="icon icon-user"></i><span>{% trans "Account" %}</span></a>
							<a href="{% url 'core:index' %}#" class="cart for-buy"><i class="icon icon-clipboard"></i><span>Cart:(0
									$)</span></a>

							<div class="action-menu">

								<div class="search-bar">
									<a href="{% url 'core:index' %}#" class="search-button search-toggle" data-selector="#header-wrap">
										<i class="icon icon-search"></i>
									</a>
									<form role="search" method="get" class="search-box">
										<input class="search-field text search-input" placeholder="Search" type="search">
									</form>
								</div>
							</div>

						</div><!--top-right-->
					</div>

				</div>
			</div>
		</div><!--top-content-->

		<header id="header">
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a href="{% url 'core:index' %}"><img src="{% static 'skin2/images/main-logo.png' %}" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav desktop"><a href="{% url 'core:index' %}#" class="menu-toggle full"><span class="bars"><span></span><span></span><span></span></span> Menu</a>
								<ul class="menu-list">
									<li class="menu-item active"><a href="{% url 'core:index' %}#home">{% trans "Home &gt" %}</a></li>
									<li class="menu-item has-sub">
										<a href="{% url 'core:index' %}#pages" class="nav-link">{% trans "Pages" %}</a>

										<ul>
											<li class="active"><a href="{% url 'core:index' %}">{% trans "Home &gt" %}</a></li>
											<li><a href="{% url 'core:about_us' %}">{% trans "About&nbsp;us" %}</a></li>
											<li><a href="{% url 'core:styles' %}">Styles </a></li>
											<li><a href="{% url 'core:blog' %}">Blog </a></li>
											<li><a href="{% url 'core:single_post' %}">Post Single </a></li>
											<li><a href="{% url 'core:shop' %}">Our Store </a></li>
											<li><a href="{% url 'core:single_product' %}">Product Single </a></li>
											<li><a href="{% url 'core:contacts' %}">Contact </a></li>
											<li><a href="{% url 'core:thanks' %}">Thank You </a></li>
										</ul>

									<a class="dd-toggle" href="{% url 'core:index' %}#"><span class="icon-plus"></span></a></li>
									<li class="menu-item"><a href="{% url 'core:index' %}#featured-books" class="nav-link">{% trans "Featured" %}</a></li>
									<li class="menu-item"><a href="{% url 'core:index' %}#popular-books" class="nav-link">{% trans "Popular" %}</a></li>
									<li class="menu-item"><a href="{% url 'core:index' %}#special-offer" class="nav-link">{% trans "Offer" %}</a></li>
									<li class="menu-item"><a href="{% url 'core:index' %}#latest-blog" class="nav-link">{% trans "Articles" %}</a></li>
									<li class="menu-item"><a href="{% url 'core:index' %}#download-app" class="nav-link">{% trans "Download App" %}</a></li>

								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>

							</div>
						</nav>

					</div>

				</div>
			</div>
		</header>

	</div><!--header-wrap-->

{% block content %}
{% endblock %}

	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<img src="{% static 'skin2/images/main-logo.png' %}" alt="logo" class="footer-logo">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus
								nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames
								semper erat ac in suspendisse iaculis.</p>
						</div>
					</div>

				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>{% trans "About Us" %}</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "vision" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">articles </a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "careers" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "service terms" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "donate" %}</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>{% trans "Discover" %}</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Home" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Books" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Authors" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Subjects" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Advanced Search" %}</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>{% trans "My account" %}</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Sign In" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "View Cart" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "My Wishtlist" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Track My Order" %}</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>{% trans "Help" %}</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Help center" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Report a problem" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Suggesting edits" %}</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'core:index' %}#">{% trans "Contact us" %}</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="copyright">
						<div class="row">

							<div class="col-md-6">
								<p>© 2022 All rights reserved. Free HTML Template</p>
							</div>

							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="{% url 'core:index' %}#"><i class="icon icon-facebook"></i></a>
										</li>
										<li>
											<a href="{% url 'core:index' %}#"><i class="icon icon-twitter"></i></a>
										</li>
										<li>
											<a href="{% url 'core:index' %}#"><i class="icon icon-youtube-play"></i></a>
										</li>
										<li>
											<a href="{% url 'core:index' %}#"><i class="icon icon-behance-square"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>

	<script src="{% static 'skin2/js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'skin2/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'skin2/js/plugins.js' %}" type="text/javascript"></script>
	<script src="{% static 'skin2/js/script.js' %}" type="text/javascript"></script>
{% block scripts %}
{% endblock %}

</body>

</htmlbootstrap.bundle.min.js>
