{% extends "skin2/base.html" %}
{% load i18n %}

{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="купить книги онлайн, интернет-магазин книг, digital book sales, каталог книг, книжный маркетплейс, заказать книги с доставкой.">
    <title>{% trans "Blog on Digital Book Sales" %}</title>
{% endblock %}

{% block customstyle %}
{% endblock %}


{% block content %}
	<section class="hero-section jarallax">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title">{% trans "Our Blog" %}</h1>
					<div class="breadcrumbs">
						<span class="item"><a href="{% url 'core:index' %}">{% trans "Home /" %}</a></span>
						<span class="item">{% trans "Our Blog" %}</span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section id="latest-blog" class="scrollspy-section padding-medium">
		<div class="container">

			<div class="row">
				<div class="col-md-12">

					<!-- post grid -->
					<div class="post-grid">
						<div class="row">

							<div class="col-md-4">

								<article class="post-item">

									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img1.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>

									<div class="post-content">
										<div class="meta-date">{% trans "Mar 30, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">modern vibes bedrooms, todays trending
												design</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>

							</div>

							<div class="col-md-4">

								<article class="post-item">
									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img2.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>
									<div class="post-content">
										<div class="meta-date">{% trans "Mar 29, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">How to make minimalist living rooms
												pop-out</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>
							</div>

							<div class="col-md-4">
								<article class="post-item">
									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img3.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>
									<div class="post-content">
										<div class="meta-date">{% trans "Mar 27, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">how to make your resort that looks
												outstanding</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>
							</div>
							<div class="col-md-4">

								<article class="post-item">

									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img1.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>

									<div class="post-content">
										<div class="meta-date">{% trans "Mar 30, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">modern vibes bedrooms, todays trending
												design</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>

							</div>

							<div class="col-md-4">

								<article class="post-item">
									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img2.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>
									<div class="post-content">
										<div class="meta-date">{% trans "Mar 29, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">How to make minimalist living rooms
												pop-out</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>
							</div>

							<div class="col-md-4">
								<article class="post-item">
									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img3.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>
									<div class="post-content">
										<div class="meta-date">{% trans "Mar 27, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">how to make your resort that looks
												outstanding</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>
							</div>

							<div class="col-md-4">

								<article class="post-item">

									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img1.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>

									<div class="post-content">
										<div class="meta-date">{% trans "Mar 30, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">modern vibes bedrooms, todays trending
												design</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>

							</div>

							<div class="col-md-4">

								<article class="post-item">
									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img2.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>
									<div class="post-content">
										<div class="meta-date">{% trans "Mar 29, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">How to make minimalist living rooms
												pop-out</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>
							</div>

							<div class="col-md-4">
								<article class="post-item">
									<figure>
										<a href="{% url 'core:blog' %}#" class="image-hvr-effect">
											<img src="{% static 'skin2/images/post-img3.jpg' %}" alt="post" class="post-image">
										</a>
									</figure>
									<div class="post-content">
										<div class="meta-date">{% trans "Mar 27, 2021" %}</div>
										<h3 class="post-title"><a href="{% url 'core:blog' %}#">how to make your resort that looks
												outstanding</a></h3>
										<p>Lectus molestie id enim ipsum. Netus sed cursus nibh iaculis ipsum turpis
											nulla blandit dui.</p>
									</div>
								</article>
							</div>

						</div>

						<div class="row">

							<nav aria-label="Page navigation" class="mt-5">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
								<a class="page-link" href="{% url 'core:blog' %}#" aria-label="Previous">
									<span aria-hidden="true">«</span>
								</a>
								</li>
								<li class="page-item active" aria-current="page"><a class="page-link" href="{% url 'core:blog' %}#">1</a></li>
								<li class="page-item"><a class="page-link" href="{% url 'core:blog' %}#">2</a></li>
								<li class="page-item"><a class="page-link" href="{% url 'core:blog' %}#">3</a></li>
								<li class="page-item">
								<a class="page-link" href="{% url 'core:blog' %}#" aria-label="Next">
									<span aria-hidden="true">»</span>
								</a>
								</li>
							</ul>
							</nav>
						</div>
					</div>
					<!-- / post grid -->

				</div>

			</div>

		</div>
	</section>

{% endblock %}


{% block scripts %}
{% endblock %}
