{% extends "skin2/base.html" %}

{% load i18n %}
{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="купить книги онлайн, интернет-магазин книг, digital book sales, каталог книг, книжный маркетплейс, заказать книги с доставкой.">
    <title>{% trans "Shop on Digital Book Sales" %}</title>
{% endblock %}

{% block customstyle %}
{% endblock %}


{% block content %}

	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="colored">
						<h1 class="page-title">{% trans "Shop" %}</h1>
						<div class="breadcum-items">
							<span class="item"><a href="{% url 'core:index' %}">{% trans "Home /&gt" %}</a></span>
							<span class="item colored">{% trans "Shop" %}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--site-banner-->

	<section class="padding-medium">
		<div class="container">
			<div class="row">
				{% for entry in product_recommendations %}
					{% include "skin2/cards/shop_card.html" with entry=entry %}
				{% endfor %}



			</div>

			<div class="row">

				<nav aria-label="Page navigation" class="mt-5">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
					<a class="page-link" href="{% url 'core:shop' %}#" aria-label="Previous">
						<span aria-hidden="true">«</span>
					</a>
					</li>
					<li class="page-item active" aria-current="page"><a class="page-link" href="{% url 'core:shop' %}#">1</a></li>
					<li class="page-item"><a class="page-link" href="{% url 'core:shop' %}#">2</a></li>
					<li class="page-item"><a class="page-link" href="{% url 'core:shop' %}#">3</a></li>
					<li class="page-item">
					<a class="page-link" href="{% url 'core:shop' %}#" aria-label="Next">
						<span aria-hidden="true">»</span>
					</a>
					</li>
				</ul>
				</nav>
			</div>

		</div>
	</section>

{% endblock %}


{% block scripts %}
{% endblock %}
