{% extends "skin2/base.html" %}
{% load i18n %}

{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="купить книги онлайн, интернет-магазин книг, digital book sales, каталог книг, книжный маркетплейс, заказать книги с доставкой.">
    <title>{% trans "Book Birds Gonna Be Happy on Digital Book Sales" %}</title>
{% endblock %}

{% block customstyle %}
{% endblock %}


{% block content %}
	<section class="bg-sand padding-medium">
		<div class="container">
			<div class="row">

				<div class="col-md-5">
					<a href="{% url 'core:single_product' product.slug %}" class="product-image"><img src="/{{product.cover_url}}"></a>
				</div>

				<div class="col-md-7 pl-5">
					<div class="product-detail">
						<span>{% trans "Fiction" %}</span>

						<h1>{{product.title}}</h1>
						{% for entry in product.bookcontributor_set.all %}
						  {% if entry.role == 'author' %}
						  <div class="author"><a href="{% url 'core:author' %}"> {{entry.get_role_display}}: {{entry.contributor.full_name}}</a></div>
						  {% endif %}
						{% endfor %}
						<div class="rating-container d-flex align-items-center text-warning mb-4">
							<svg width="32" height="32">
							  <use xlink:href="#star-solid"></use>
							</svg>
							<svg width="32" height="32">
							  <use xlink:href="#star-solid"></use>
							</svg>
							<svg width="32" height="32">
							  <use xlink:href="#star-solid"></use>
							</svg>
							<svg width="32" height="32">
							  <use xlink:href="#star-outline"></use>
							</svg>
							<svg width="32" height="32">
							  <use xlink:href="#star-outline"></use>
							</svg>
						</div>
						<p>{{product.html_annotation|truncatechars_html:250|safe}}</p>


						<p><span class="price colored fs-4"> {{product.prices}} руб.</span></p>

						<div class="d-flex gap-3">
							<input type="number" name="age" id="age" class="m-0 text-center" min="1" max="12" step="1" value="1">
							<button type="submit" name="add-to-cart" value="27545" class="button m-0">{% trans "Add to cart" %}</button>
						</div>


					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="product-tabs mt-5">
		<div class="container">
			<div class="row">
				<div class="tabs-listing">
					<nav>
						<div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
							<button class="nav-link active text-uppercase px-5 py-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "Description" %}</button>
							<button class="nav-link text-uppercase px-5 py-3" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" role="tab" aria-controls="nav-information" aria-selected="false" tabindex="-1">{% trans "Additional information" %}</button>
							<button class="nav-link text-uppercase px-5 py-3" id="nav-shipping-tab" data-bs-toggle="tab" data-bs-target="#nav-shipping" type="button" role="tab" aria-controls="nav-shipping" aria-selected="false" tabindex="-1">{% trans "Shipping &amp; Return" %}</button>
							<button class="nav-link text-uppercase px-5 py-3" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false" tabindex="-1">{% trans "Reviews" %}</button>
						</div>
					</nav>
					<div class="tab-content py-5" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<h5>{% trans "Product Description" %}</h5>
							{{product.html_annotation|safe}}
						</div>
						<div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
							<h5>{% trans "Additional information" %}</h5>
							<table>

							{% for entry in product.bookcontributor_set.all %}
							  <tr>
								<td>{{entry.get_role_display}}:</td>
								<td><a href="{% url 'core:author' %}">  {{entry.contributor.full_name}}</a> </td>
							  </tr>
							{% endfor %}

							  <tr>
								<td>Возрастное ограничение: </td><td>{{product.min_age}}+</td>
							  </tr>
							  <tr>
								<td>Дата выхода: </td><td>{{product.publication_date|date:"d.m.Y"}}</td>
							  </tr>
							  <tr>
								<td>Дата обновления: </td><td>{{product.last_released_at|date:"d.m.Y"}}</td>
							  </tr>

							</table>

						</div>
						<div class="tab-pane fade" id="nav-shipping" role="tabpanel" aria-labelledby="nav-shipping-tab">
							<h5>{% trans "Returns Policy" %}</h5>
							<p></p>
							<p></p>
							<h5>{% trans "Shipping" %}</h5>
							<p></p>
						</div>
						<div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
							<div class="review-box review-style1 d-flex">
								<div class="review-item d-flex">
									<div class="row g-4">
										<div class="col-md-3">
											<div class="image-holder">
												<img src="{% static 'skin2/images/review-image1.jpg' %}" alt="review" class="rounded-circle img-fluid">
											</div>
										</div>
										<div class="col-md-7">
											<div class="review-content">
												<div class="rating-container text-warning d-flex align-items-center">
													<svg width="32" height="32">
														<use xlink:href="#star-solid"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-solid"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-solid"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-outline"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-outline"></use>
													</svg>
												</div>
												<div class="review-header">
													<span class="author-name">{% trans "Tom Johnson" %}</span>
													<span class="review-date">– 07/05/2022</span>
												</div>
												<p>
													Потрясающая работа с языком и структурой повествования. Видно, что проделан огромный труд: текст выверен, а темп повествования выдержан идеально — нет ощущения затянутости или, наоборот, спешки. Автору удалось поднять важные, вневременные темы, которые актуальны для каждого из нас. Герои (или идеи) прописаны настолько объемно, что им веришь безоговорочно. Это качественная литература, которая сочетает в себе эстетическое удовольствие от слога и содержательную глубину. Книга точно заслуживает места на полке и повторного прочтения спустя время
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="review-item d-flex">
									<div class="row g-4">
										<div class="col-md-3">
											<div class="image-holder">
												<img src="{% static 'skin2/images/review-image2.jpg' %}" alt="review" class="rounded-circle img-fluid">
											</div>
										</div>
										<div class="col-md-7">
											<div class="review-content">
												<div class="rating-container text-warning d-flex align-items-center">
													<svg width="32" height="32">
														<use xlink:href="#star-solid"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-solid"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-solid"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-outline"></use>
													</svg>
													<svg width="32" height="32">
														<use xlink:href="#star-outline"></use>
													</svg>
												</div>
												<div class="review-header">
													<span class="author-name">{% trans "Jenny Willis" %}</span>
													<span class="review-date">– 07/05/2022</span>
												</div>
												<p>
													Эта книга оставила после себя очень глубокое и неоднозначное впечатление. Автор мастерски работает с деталями, создавая атмосферу, в которую погружаешься буквально с первых страниц. Читается на одном дыхании, но при этом заставляет периодически останавливаться и обдумывать прочитанное. Это именно то произведение, которое не забывается сразу после закрытия последней страницы, а продолжает "жить" внутри, заставляя переосмыслить некоторые привычные вещи. Определенно рекомендую к ознакомлению всем, кто ищет в литературе не только сюжет, но и пищу для размышлений
												</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="related-products" class="bookshelf pb-5 mb-5">
		<div class="container">
			<div class="section-header align-center">
				<div class="title">
					<span>{% trans "Related Products" %}</span>
				</div>
				<h2 class="section-title">{% trans "You may also like" %}</h2>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="inner-content">
					<div class="product-list" data-aos="fade-up">
						<div class="grid product-grid">
							<div class="product-item">
								<figure class="product-style">
									<img src="{% static 'skin2/images/product-item5.jpg' %}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
										Cart</button>
								</figure>
								<figcaption>
									<h3>{% trans "Simple way of piece life" %}</h3>
									<span>{% trans "Armor Ramsey" %}</span>
									<div class="item-price">
										<span class="prev-price">$ 50.00</span>$ 40.00
									</div>
							</div>
							</figcaption>

							<div class="product-item">
								<figure class="product-style">
									<img src="{% static 'skin2/images/product-item6.jpg' %}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
										Cart</button>
								</figure>
								<figcaption>
									<h3>{% trans "Great travel at desert" %}</h3>
									<span>{% trans "Sanchit Howdy" %}</span>
									<div class="item-price">
										<span class="prev-price">$ 30.00</span>$ 38.00
									</div>
							</div>
							</figcaption>

							<div class="product-item">
								<figure class="product-style">
									<img src="{% static 'skin2/images/product-item7.jpg' %}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
										Cart</button>
								</figure>
								<figcaption>
									<h3>{% trans "The lady beauty Scarlett" %}</h3>
									<span>{% trans "Arthur Doyle" %}</span>
									<div class="item-price">
										<span class="prev-price">$ 35.00</span>$ 45.00
									</div>
							</div>
							</figcaption>

							<div class="product-item">
								<figure class="product-style">
									<img src="{% static 'skin2/images/product-item8.jpg' %}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
										Cart</button>
								</figure>
								<figcaption>
									<h3>{% trans "Once upon a time" %}</h3>
									<span>{% trans "Klien Marry" %}</span>
									<div class="item-price">
										<span class="prev-price">$ 25.00</span>$ 35.00
									</div>
							</div>
							</figcaption>

							<div class="product-item">
								<figure class="product-style">
									<img src="{% static 'skin2/images/product-item2.jpg' %}" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
										Cart</button>
								</figure>
								<figcaption>
									<h3>{% trans "Simple way of piece life" %}</h3>
									<span>{% trans "Armor Ramsey" %}</span>
									<div class="item-price">$ 40.00</div>
								</figcaption>
							</div>
						</div><!--grid-->
					</div>
				</div><!--inner-content-->
			</div>
		</div>

	</section>

{% endblock %}


{% block scripts %}
{% endblock %}
