{% extends "skin3/base.html" %}

{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="о компании Digital Book Sales, купить книги со скидкой, корзина заказов, магазин литературы, оплата книг онлайн, библиотека книг, поиск книг по автору.">
    <title>О нас</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
single-page
{% endblock %}

{% block content %}
<main>
  <section class="hero-section jarallax position-relative">
    
    <div class="hero-content d-flex justify-content-center text-center align-items-center ">
      <div class="container">
        <div class="row">
          <div class="content-light text-center">
            <h1 class="page-title">About Us</h1>
            <div class="breadcrumbs">
              <span class="item">
                <a href="{% url 'core:index' %}">Home /</a>
              </span>
              <span class="item">About Us</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img src="{% static 'skin3/images/hero-image.jpg' %}" class="hero-image jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1905px; height: 649.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 149.75px; transform: translate3d(0px, -100.75px, 0px);"></div></section>
  <section id="about-us" class="padding-large text-center">
    <div class="container">
      <div class="row">
        <div class="section-header">
          <h2 class="section-title">How was swanky started?</h2>
          <p>Risus augue curabitur diam senectus congue velit et. Sed vitae metus nibh sit a tristique. Nulla adipiscing
            pharetra pellentesque maecenas odio eros at. Et libero vulputate habitasse amet duis erat volutpat vitae
            eget. Quam libero etiam et in ac at quis. Sed id parturient viverra blandit. Ultrices congue id odio
            ullamcorper tellus et. Vulputate venenatis malesuada nulla neque neque sollicitudin eu. Lorem ipsum dolor
            sit amet consectetur. Eget sollicitudin magna egestas massa accumsan orci leo. Nisl odio in proin ultrices
            mi et mattis vel nulla. Mattis auctor id ut eget augue sed cras. Eget tortor cursus dignissim purus
            penatibus. At placerat dis dis tincidunt nunc nisl vivamus vitae felis. </p>
        </div>
      </div>
    </div>
  </section>
  <section id="company-services">
    <div class="container">
      <div class="row">
        <div class="icon-box-wrapper d-flex flex-wrap justify-content-between">
          <div class="icon-box text-center col-md-3 col-sm-12">
            <div class="content-box border-top border-bottom">
              <div class="icon-box-icon">
                <i class="icon icon-shipping text-primary"></i>
              </div>
              <div class="icon-content">
                <h3 class="no-margin">Quick delivery</h3>
                <p>Inside City delivery within 5 days</p>
              </div>
            </div>
          </div>
          <div class="icon-box text-center col-md-3 col-sm-12">
            <div class="content-box border-top border-bottom">
              <div class="icon-box-icon">
                <i class="icon icon-store text-primary"></i>
              </div>
              <div class="icon-content">
                <h3 class="no-margin">Pick up in store</h3>
                <p>We have option of pick up in store.</p>
              </div>
            </div>
          </div>
          <div class="icon-box text-center col-md-3 col-sm-12">
            <div class="content-box border-top border-bottom">
              <div class="icon-box-icon">
                <i class="icon icon-package text-primary"></i>
              </div>
              <div class="icon-content">
                <h3 class="no-margin">Special packaging</h3>
                <p>Our packaging is best for products.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="videos" class="padding-large">
    <div class="video-item position-relative">
      <div class="video-player">
        <img src="{% static 'skin3/images/video-item.jpg' %}" alt="video" class="video-image">
        <a href="{% static 'static/common/images/video-image.mp4' %}">
          <i class="icon icon-play"></i>
        </a>
      </div>
    </div>
  </section>
  <section id="testimonials" class="padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="review-content">
          <i class="icon-arrow icon-arrow-left" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-7e5022105488b1d6"></i>
          <div class="swiper testimonial-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-7e5022105488b1d6" aria-live="polite">
              <div class="swiper-slide text-center d-flex justify-content-center swiper-slide-active" role="group" aria-label="1 / 2" data-swiper-slide-index="0" style="width: 1306px;">
                <div class="review-item col-md-8">
                  <i class="icon icon-review"></i>
                  <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi
                    mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi sagittis
                    loreus oncu enim cursus.”</blockquote>
                  <div class="rating-star">
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star-line"></i>
                  </div>
                  <div class="author-detail">
                    <div class="name text-primary">Emma Chamberlin</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-center swiper-slide-next" role="group" aria-label="2 / 2" data-swiper-slide-index="1" style="width: 1306px;">
                <div class="review-item col-md-8">
                  <i class="icon icon-review"></i>
                  <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi
                    mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi sagittis
                    loreus oncu enim cursus.”</blockquote>
                  <div class="rating-star">
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star-line"></i>
                  </div>
                  <div class="author-detail">
                    <div class="name text-primary">Joey Kimberland</div>
                  </div>
                </div>
              </div>
            </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          <i class="icon-arrow icon-arrow-right" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-7e5022105488b1d6"></i>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
  </section>
  <section id="latest-blog" class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="section-title">Recent Blogs</h2>
          <p>Read Our News &amp; articles about updates</p>
        </div>
        <div class="row d-flex flex-wrap">
          <article class="col-md-4 post-item">
            <div class="image-holder">
              <a href="{% url 'core:about' %}">
                <img src="{% static 'skin3/images/post-item1.jpg' %}" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content">
              <div class="post-header text-center">
                <h3 class="post-title">
                  <a href="{% url 'core:about' %}">Best Comfortable Clothes Ideas</a>
                </h3>
                <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
              </div>
            </div>
          </article>
          <article class="col-md-4 post-item">
            <div class="image-holder">
              <a href="{% url 'core:about' %}">
                <img src="{% static 'skin3/images/post-item2.jpg' %}" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content">
              <div class="post-header text-center">
                <h3 class="post-title">
                  <a href="{% url 'core:about' %}">Casual Denim Clothing for women</a>
                </h3>
                <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
              </div>
            </div>
          </article>
          <article class="col-md-4 post-item">
            <div class="image-holder">
              <a href="{% url 'core:about' %}">
                <img src="{% static 'skin3/images/post-item3.jpg' %}" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content">
              <div class="post-header text-center">
                <h3 class="post-title">
                  <a href="{% url 'core:about' %}">Best Poses for fashion photo</a>
                </h3>
                <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
              </div>
            </div>
          </article>
        </div>
        <div class="btn-center">
          <a href="{% url 'core:about' %}" class="btn btn-medium btn-black">Read All</a>
        </div>
      </div>
    </div>
  </section>
  <section id="our-store" class="padding-large">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6">
          <div class="image-holder">
            <img src="{% static 'skin3/images/single-image.jpg' %}" alt="our store">
          </div>
        </div>
        <div class="col-md-6">
          <div class="locations-wrap">
            <div class="section-header">
              <h2 class="section-title">Our stores</h2>
              <p>You can also directly buy products from our stores.</p>
            </div>
            <div class="location-content">
              <div class="col-md-6">
                <h3 class="element-title">USA</h3>
                <ul class="list-unstyled">
                  <li>730 Glenstone Ave 65802, Springfield, US</li>
                  <li>+123 222 333 44</li>
                  <li>+123 666 777 88</li>
                  <li>
                    <a href="{% url 'core:about' %}">swanky@yourinfo.com</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <h3 class="element-title">France</h3>
                <ul class="list-unstyled">
                  <li>13 Rue Montmartre 75001, Paris, France</li>
                  <li>+123 222 333 44</li>
                  <li>+123 666 777 88</li>
                  <li>
                    <a href="{% url 'core:about' %}">swanky@yourinfo.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="brand-collection" class="padding-small border-top border-bottom overflow-hidden my-5">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col">
          <i class="icon icon-brand-item1"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item2"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item3"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item4"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item5"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="instagram" class="padding-large overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="section-title">Shop our insta</h2>
        </div>
        <div class="row d-flex flex-wrap">
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:about' %}" class="">
              <img src="{% static 'skin3/images/insta-item1.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:about' %}" class="">
              <img src="{% static 'skin3/images/insta-item2.JPG' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:about' %}" class="">
              <img src="{% static 'skin3/images/insta-item3.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:about' %}" class="">
              <img src="{% static 'skin3/images/insta-item4.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:about' %}" class="">
              <img src="{% static 'skin3/images/insta-item5.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}


{% block scripts %}
{% endblock %}


