{% extends "skin3/base.html" %}

{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="обзоры новинок литературы, рецензии на книги, что почитать, книжный блог, новости литературы, статьи о писателях.">
    <title>Книжные новости, обзор новинок</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
blog-page
{% endblock %}

{% block content %}
<main>
  <section class="hero-section jarallax position-relative">
    
    <div class="hero-content d-flex justify-content-center text-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="content-light text-center">
            <h1 class="page-title">Blog</h1>
            <div class="breadcrumbs">
              <span class="item">
                <a href="{% url 'core:index' %}">Home &gt;</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img src="{% static 'skin3/images/hero-image2.jpg' %}" class="hero-image jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1905px; height: 649.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 149.75px; transform: translate3d(0px, -100.75px, 0px);"></div></section>
  <div class="post-grid padding-large">
    <div class="container">
      <div class="row">
        <main>
          <div class="grid-element">
            <div class="row d-flex flex-wrap">
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item1.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Best Comfortable Clothes Ideas</a>
                    </h3>
                    <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item2.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Casual Denim Clothing for women</a>
                    </h3>
                    <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item3.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Best Poses for fashion photo</a>
                    </h3>
                    <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item4.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Fashion is like nature’s beauty</a>
                    </h3>
                    <p>Justo maecenas facilisi cursus fermentum enim viverra.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item5.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Feel cool while walking in street</a>
                    </h3>
                    <p>Sed sed eleifend vel sed elementum pharetra quam.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item6.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">the main purpose of aesthetic</a>
                    </h3>
                    <p>Viverra fringilla amet quis sollicitudin scelerisque nibh.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item7.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Great fashion trend in 2022</a>
                    </h3>
                    <p>Justo maecenas facilisi cursus fermentum enim vivirra.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item8.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Top 10 famous books for fashion</a>
                    </h3>
                    <p>Sed sed eleifend vel sed elementum pharetra quam.</p>
                  </div>
                </div>
              </article>
              <article class="col-md-4 post-item element-item">
                <div class="image-holder">
                  <a href="{% url 'core:single_post' %}">
                    <img src="{% static 'skin3/images/post-item9.jpg' %}" alt="post" class="post-image">
                  </a>
                </div>
                <div class="post-content">
                  <div class="post-header text-center">
                    <h3 class="post-title">
                      <a href="{% url 'core:single_post' %}">Classic clothing collection ideas</a>
                    </h3>
                    <p>Viverra fringilla amet quis sollicitudin scelerisque nibh.</p>
                  </div>
                </div>
              </article>
            </div>
            <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
              <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                <a href="{% url 'core:blog' %}">
                  <i class="icon icon-angle-left"></i>
                </a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="{% url 'core:blog' %}">2</a>
                <a class="page-numbers" href="{% url 'core:blog' %}">3</a>
                <a class="page-numbers" href="{% url 'core:blog' %}">4</a>
                <a class="page-numbers" href="{% url 'core:blog' %}">5</a>
                <a href="{% url 'core:blog' %}">
                  <i class="icon icon-angle-right"></i>
                </a>
              </div>
            </nav>
          </div>
        </main>
      </div>
    </div>
  </div>
  <section id="testimonials" class="position-relative mb-5 pb-5 ">
    <div class="container mb-5">
      <div class="row">
        <div class="review-content">
          <i class="icon-arrow icon-arrow-left" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-e91ab3ba27d7c1e6"></i>
          <div class="swiper testimonial-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-e91ab3ba27d7c1e6" aria-live="polite">
              <div class="swiper-slide text-center d-flex justify-content-center swiper-slide-active" role="group" aria-label="1 / 2" data-swiper-slide-index="0" style="width: 1306px;">
                <div class="review-item col-md-8">
                  <i class="icon icon-review"></i>
                  <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi
                    mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi sagittis
                    loreus oncu enim cursus.”</blockquote>
                  <div class="rating-star">
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star-line"></i>
                  </div>
                  <div class="author-detail">
                    <div class="name text-primary">Emma Chamberlin</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-center swiper-slide-next" role="group" aria-label="2 / 2" data-swiper-slide-index="1" style="width: 1306px;">
                <div class="review-item col-md-8">
                  <i class="icon icon-review"></i>
                  <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi
                    mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi sagittis
                    loreus oncu enim cursus.”</blockquote>
                  <div class="rating-star">
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star"></i>
                    <i class="icon icon-star-line"></i>
                  </div>
                  <div class="author-detail">
                    <div class="name text-primary">Joey Kimberland</div>
                  </div>
                </div>
              </div>
            </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          <i class="icon-arrow icon-arrow-right" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-e91ab3ba27d7c1e6"></i>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
  </section>
  <section id="brand-collection" class="padding-small border-top border-bottom overflow-hidden my-5">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col">
          <i class="icon icon-brand-item1"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item2"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item3"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item4"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item5"></i>
        </div>

      </div>
    </div>
  </section>
  <section id="instagram" class="padding-large overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="section-title">Shop our insta</h2>
        </div>
        <div class="row d-flex flex-wrap">
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:blog' %}" class="">
              <img src="{% static 'skin3/images/insta-item1.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:blog' %}" class="">
              <img src="{% static 'skin3/images/insta-item2.JPG' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:blog' %}" class="">
              <img src="{% static 'skin3/images/insta-item3.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:blog' %}" class="">
              <img src="{% static 'skin3/images/insta-item4.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:blog' %}" class="">
              <img src="{% static 'skin3/images/insta-item5.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}


{% block scripts %}
{% endblock %}


