{% extends "skin3/base.html" %}

{% load static %}

{% block titlekeywords %}
    <meta name="keywords" content="проверка заказа, цена покупки, способ доставки, способ оплаты, оплата книг онлайн, библиотека книг">
    <title>Оформление заказа</title>
{% endblock %}

{% block customstyle %}
{% endblock %}

{% block bodycustomclass %}
checkout-page
{% endblock %}

{% block content %}
<main>
    <section class="hero-section jarallax position-relative">
    <div class="hero-content bg-accent">
      <div class="container">
        <div class="row pt-4">
          <div class="text-center padding-medium">
            <h1 class="page-title">Checkout</h1>
            <div class="breadcrumbs">
              <span class="item">
                <a href="{% url 'core:index' %}">Home &gt;</a>
              </span>
              <span class="item">Checkout</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="checkout-wrap padding-large">
    <div class="container">
      <div class="row d-flex flex-wrap">
        <div class="col-md-6">
          <h2 class="section-title">Billing Details</h2>
          <div class="billing-details">
            <form class="form-group">
              <label for="fname">Full Name</label>
              <input type="text" id="fname" name="firstname" class="u-full-width">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" class="u-full-width">
              <label for="cname">Company Name(optional)</label>
              <input type="text" id="cname" name="companyname" class="u-full-width">
              <label for="cname">Country / Region *</label>

              <select class="form-select u-full-width" aria-label="Default select example">
                <option selected="" hidden="">United States</option>
                <option value="1">UK</option>
                <option value="2">Australia</option>
                <option value="3">Canada</option>
              </select>
              <label for="address">Address</label>
              <input type="text" id="adr" name="address" placeholder="House number and street name" class="u-full-width">
              <input type="text" id="adr" name="address" placeholder="Appartments, suite, etc." class="u-full-width">
              <label for="city">Town / City *</label>
              <input type="text" id="city" name="city" class="u-full-width">
              <label for="state">State *</label>
              <select class="form-select u-full-width" aria-label="Default select example">
                <option selected="" hidden="">Florida</option>
                <option value="1">New York</option>
                <option value="2">Chicago</option>
                <option value="3">Texas</option>
                <option value="3">San Jose</option>
                <option value="3">Houston</option>
              </select>
              <label for="zip">Zip Code *</label>
              <input type="text" id="zip" name="zip" class="u-full-width">
              <label for="email">Phone *</label>
              <input type="text" id="phone" name="phone" class="u-full-width">
              <label for="email">Email address *</label>
              <input type="text" id="email" name="email" class="u-full-width">
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="section-title">Additional Information</h2>
          <div class="billing-details">
            <form class="form-group">
              <label for="fname">Order notes (optional)</label>
              <textarea class="u-full-width" placeholder="Notes about your order. Like special notes for delivery."></textarea>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="your-order">
            <div class="total-price">
              <table cellspacing="0" class="shop-table">
                <tbody>
                  <tr class="product-title border-bottom d-flex">
                    <th>Products</th>
                    <th>Subtotal</th>
                  </tr>
                  <tr class="subtotal border-top border-bottom d-flex">
                    <td class="product-item">Orange Beanie × 1</td>
                    <td data-title="Subtotal">
                      <span class="price-amount amount">
                        <bdi>
                          <span class="price-currency-symbol">$</span>12.00 </bdi>
                      </span>
                    </td>
                  </tr>
                  <tr class="subtotal border-bottom d-flex">
                    <td class="product-item">FLora Print Dress × 1</td>
                    <td data-title="Total">
                      <strong>
                        <span class="price-amount amount">
                          <bdi>
                            <span class="price-currency-symbol">$</span>14.00 </bdi>
                        </span>
                      </strong>
                    </td>
                  </tr>
                  <tr class="order-total border-bottom d-flex">
                    <th>Subtotal</th>
                    <td data-title="Total">
                      <strong>
                        <span class="price-amount amount">
                          <bdi>
                            <span class="price-currency-symbol">$</span>26.00 </bdi>
                        </span>
                      </strong>
                    </td>
                  </tr>
                  <tr class="order-total border-bottom d-flex">
                    <th>Subtotal</th>
                    <td data-title="Total">
                      <strong>
                        <span class="price-amount amount">
                          <bdi>
                            <span class="price-currency-symbol">$</span>26.00 </bdi>
                        </span>
                      </strong>
                    </td>
                  </tr>
                  <tr class="order-total border-bottom d-flex">
                    <th>Shipping</th>
                    <td data-title="shipping-address"> Please enter your address to view shipping options. </td>
                  </tr>
                  <tr class="grand-total border-bottom d-flex">
                    <th>Total</th>
                    <td data-title="Total">
                      <strong>
                        <span class="price-amount amount">
                          <bdi>
                            <span class="price-currency-symbol">$</span>26.00 </bdi>
                        </span>
                      </strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="payment-method border-bottom">
                      <input type="radio" class="input-radio" name="payment-method" value="method-one" checked="checked" data-order_button_text="">
                      <label for="payment-method">Direct bank transfer</label>
                      <div class="payment-box method-one">
                        <p>Make your payment directly into our bank account. Please use your Order ID. Your order will
                          shipped after funds have cleared in our account.</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="payment-method border-bottom">
                      <input type="radio" class="input-radio" name="payment-method" value="method-two" checked="checked" data-order_button_text="">
                      <label for="payment-method">Check payments</label>
                      <div class="payment-box method-two">
                        <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store
                          Postcode.</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="payment-method border-bottom">
                      <input type="radio" class="input-radio" name="payment-method" value="method-three" checked="checked" data-order_button_text="">
                      <label for="payment-method">Cash on delivery</label>
                      <div class="payment-box method-three">
                        <p>Pay with cash upon delivery.</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="payment-method border-bottom">
                      <input type="radio" class="input-radio" name="payment-method" value="method-four" checked="checked" data-order_button_text="">
                      <label for="payment-method">Paypal</label>
                      <div class="payment-box method-four">
                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" name="submit" class="btn btn-dark btn-large text-uppercase">Place order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="brand-collection" class="padding-small border-top border-bottom overflow-hidden my-5">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="col">
          <i class="icon icon-brand-item1"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item2"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item3"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item4"></i>
        </div>
        <div class="col">
          <i class="icon icon-brand-item5"></i>
        </div>

      </div>
    </div>
  </section>
  <section id="instagram" class="padding-large overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="section-title">Shop our insta</h2>
        </div>
        <div class="row d-flex flex-wrap">
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:checkout' %}" class="">
              <img src="{% static 'skin3/images/insta-item1.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:checkout' %}" class="">
              <img src="{% static 'skin3/images/insta-item2.JPG' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:checkout' %}" class="">
              <img src="{% static 'skin3/images/insta-item3.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:checkout' %}" class="">
              <img src="{% static 'skin3/images/insta-item4.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
          <figure class=" col instagram-item magnific position-relative">
            <a href="{% url 'core:checkout' %}" class="">
              <img src="{% static 'skin3/images/insta-item5.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay d-flex justify-content-center">
                <i class="icon icon-instagram1"></i>
              </div>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}


{% block scripts %}
{% endblock %}


